[2016-05-14 08:46] ebocher commented on #1018
Related to H2GIS.

[2016-05-14 08:50] ebocher commented on #1018
Move to H2GIS issues

[2016-05-14 08:50] #1018 closed

[2016-05-14 08:51] ebocher commented on #1015
Thanks a lot.
Patches are welcome ;-)

[2016-05-14 09:52] sbigaret commented on #1015
Sir Yes Sir!-) pull request #1019 on its way.

[2016-05-18 10:20] ebocher opened #1021 "SQL quote action inconsistent"
If you run a quote action on a empty selection it returns all the text of the editor with quotes.

[2016-05-18 11:16] ebocher commented on #1021
Same inconsistency  for unquote action.

[2016-05-19 08:47] gpetit commented on #1017
@sbigaret the job has been done. You can test, using the last release which is here http://jenkins.orbisgis.org/job/orbisgis/lastSuccessfulBuild/artifact/orbisgis-dist/target/orbisgis-bin.zip

Once you selected your SQL line(s) you can click on the dedicated icon (the orange one), or press on ALT+ENTER.

https://github.com/orbisgis/orbisgis/pull/1025

[2016-05-19 09:04] ebocher commented on #1017
Done

[2016-05-19 09:04] #1017 closed

[2016-06-16 12:20] SPalominos commented on #987
Issue solved in the branch dev/wps.

[2016-06-16 14:33] SPalominos commented on #995
Issue solved in the branch dev/wps.

[2016-06-16 14:44] SPalominos commented on #1010
Issue solved in the branch dev/wps.

[2016-06-17 07:17] SPalominos commented on #989
A quite complete tutorial : https://doc.ubuntu-fr.org/tutoriel/creer_et_administrer_un_ppa_sur_launchpad

[2016-06-17 13:31] #987 closed

[2016-06-30 08:16] ebocher opened #1045 "Toolbox wps"
The WPS toolbox doesn't work on Windows and Mac OS. The OrbisGIS application crashes.

[2016-06-30 08:17] ebocher commented on #1045
Some error messages

[code]

[2016-06-30 08:22] ebocher commented on #1045
OS :  Windows 7 64bit.
JAVA 8 (1.8.0_91-b14)...

[code]

[2016-07-12 09:09] #1010 closed

[2016-07-12 09:33] #1045 closed

[2016-07-12 09:33] #995 closed

[2016-07-19 14:13] ebocher opened #1048 "Load scripts depending on the RDBMS"
Add a method to set if the WPS groovy script could be loaded.
This method must be private and available only internally.

[2016-07-19 15:10] ebocher opened #1049 "Boolean LiteralDataInput"
A Boolean LiteralDataInput not selected in the toolbox GUI returns a null object. What about default value ?

[2016-07-20 07:17] SPalominos commented on #1049
If no values are selected means that the value isn't defined and set to null. But it should be available only if the input is optional. I'll fix it.

[2016-07-20 09:48] ebocher commented on #1049
OK thanks

[2016-07-20 14:31] ebocher opened #1050 "Retrieving table metadata"
Create a WPS script to retrieve some basic informations on a table.

Example with Postgres

[code]

Example with H2

[code]

@gpetit

[2016-08-11 14:42] pierromond opened #1052 "St_graph function"
I wanted to used the St_graph function, but I have this message: "Function "ST_GRAPH" not found; SQL statement"

How can I add this function in the last version of OrbisGis ? (I am using: "orbisgis-dist-5.1.0-SNAPSHOT-2016-08-05")

Thanks,

Pierre

[2016-08-19 08:29] ebocher commented on #1052
oups the last OrbisGIS version loads only the basic functions (org.h2gis.functions.H2GISFunctions.load) .
We must update OrbisGIS to support all extensions as expressed in H2GIS documentation.
Sorry for that.

Example :  http://www.h2gis.org/docs/dev/quickstart/
[code]

@SPalominos
Could you please update " bundles/core-jdbc/src/main/java/org/orbisgis/corejdbc/DataSourceService.java "

[2016-08-19 08:37] ebocher commented on #1015
Fix thanks to @sbigaret

[2016-08-19 08:37] #1015 closed

[2016-08-19 08:44] pierromond commented on #1052
Thank you !

[2016-08-19 08:45] nicolas-f commented on #1052
ST_Graph is not declared in org.h2gis.ext.H2GISExtension either

[2016-08-19 08:45] pierromond commented on #1052
Thank you

[2016-08-19 08:49] ebocher commented on #1052
Ouppppppppppppppppppppppppps

https://github.com/orbisgis/h2gis/blob/master/h2gis-functions/src/main/java/org/h2gis/functions/factory/H2GISFunctions.java must be updated to add ST_graph function....
I will check

[2016-08-24 08:13] #945 closed

[2016-08-24 08:15] #609 closed

[2016-08-24 13:27] ebocher opened #1055 "Improve H2GIS error messages"
import (from orbisgis) this shapefile (http://opendata.paris.fr/explore/dataset/accidentologie/download/?format=shp&timezone=Europe/Berlin) in a postgis database

must returns the message :

[code]

but the message itself must be made clearer and more understandable from the OrbisGIS import menu

[code]

[2016-08-25 08:50] ebocher commented on #1052
Fixed. It will be available soon with the last H2GIS release.

[2016-08-25 08:53] pierromond commented on #1052
Thanks !

[2016-08-25 09:03] #1052 closed

[2016-08-25 09:36] SPalominos commented on #1048
As the information will be only used by the WPS server which can only access to the metadata, it should be stored in the metadata.

[2016-08-25 09:36] ebocher commented on #1048
Perfect

[2016-08-25 13:35] ebocher opened #1056 "Zoom to layer is slow with a spatial index"
With the last OrbisGIS version, the renderer has an ultra-low latency before drawing a full layer with a spatial index.

To test
1. Drag and drop a table in the TOC (without any spatial index)
2. Zoom on it
3. Do a zoom to layer

Repeat the same operations with a spatial index.

[2016-08-25 13:55] ebocher commented on #1056
This bug appears only with an H2(GIS) database...

[2016-08-25 14:26] ebocher commented on #1056
Using H2 database profiling option (TRACE_LEVEL_FILE=2), returns

/*SQL #:235392 t:2648*/SELECT  _ROWID_, *  FROM \"ROUTE_DB\";
2016-08-25 16:24:03 command: slow query: 4 539 ms

[2016-09-05 10:16] #1049 closed

[2016-09-05 10:18] ebocher opened #1059 "DataStoreInput geometry type constraint"
The following input :

[code]

doesn't filter the tables.

[2016-09-05 10:40] ebocher commented on #1048
Add two constants : postgis and h2gis (not case sensitive)

[2016-09-05 11:45] SPalominos commented on #874
Issue linked to  bedatadriven/renjin#121

[2016-09-05 11:46] SPalominos commented on #850
Issue linked to #986.

[2016-09-05 11:55] #986 closed

[2016-09-05 11:58] SPalominos opened #1062 "Process percent completed"
The WPS `StatusInfo` answer contains a parameter `percentCompleted` which indicates to the client the progression of the script executions. Currently it is not managed by the server.
It would be useful to be able to send this information to the client and to display it to the user.

[2016-09-05 12:02] SPalominos opened #1063 "Process estimated completion"
The WPS `StatusInfo` answer contains a parameter `EstimatedCompletion` which indicates to the client the estimated process completion date. Currently it is not managed by the server.
It would be useful to be able to send this information to the client and to display it to the user.

[2016-09-05 12:05] ebocher commented on #1063
Ok.
Did you plan to offer a way to add a "progress monitor" in a groovy script ?
eg.

@process{
progress.start

//Do job

progress.end
}

[2016-09-05 12:06] ebocher commented on #1050
@gpetit
Done in ToolBox/Describe columns

[2016-09-05 12:06] #1050 closed

[2016-09-05 12:14] SPalominos commented on #1063
Why not, but in the end, each process will be run with a progress monitor. Isn't that enough ? Is there a use to start progress monitors inside a process ?

[2016-09-05 12:14] SPalominos opened #1064 "WPS serveur configuration"
Currently the local OrbisGIS WPS server is set with a resource file which contains a default configuration.
It would be great to have a window to customize the server configuration.

[2016-09-05 12:18] SPalominos opened #1065 "Toolbox translation"
Implements all the I18n code to translate the Toolbox with Transifex.

[2016-09-05 12:22] SPalominos opened #1066 "WPS tests"
Cover all the WPS code with tests.

[2016-09-05 12:23] SPalominos opened #1067 "Human readable wps errors"
Display into a human readable way the error messages coming from the WPS server.

[2016-09-05 12:26] SPalominos opened #1068 "WPS time and colour in/outputs"
Implements the ComplexData Time and Colour with their UI, groovy annotations and parsers.

[2016-09-05 15:56] ebocher opened #1069 "WPS : FieldValueInput on fixed DataFieldInput"
l'd like to list some values from a field selected in a DataFieldInput that uses a specific table. Nothing appears...

[code]

[2016-09-07 07:43] #1069 closed

[2016-09-08 14:28] #759 closed

[2016-09-15 08:02] SPalominos commented on #874
The R-Conbsole plugin and the needed dependencies are plubished in OrbisGIS nexus. Still a problem : the `library(...)` command doesn't work. Work stills in progress.

[2016-09-15 18:23] #1066 closed

[2016-09-20 10:04] ebocher opened #1075 "Null value on thematic maps"
Null value must be ignored on Thresholds computeStats(String fieldName) to compute the map intervals.

[2016-09-20 14:55] ebocher opened #1077 "Cannot close the WPS LOG UI"
It's not possible to close the WPS LOG UI when a job is canceled.

[2016-09-27 07:41] #1075 closed

[2016-09-28 18:23] ebocher opened #1079 "Jtable clob datatype"
OrbisGIS doesn't show correctly a clob datatype. See ->
![clob_type_jtable](https://cloud.githubusercontent.com/assets/1820572/18926740/536decda-85b9-11e6-861a-21ba94663ebd.png)

Tested with H2 database.

[2016-10-03 06:40] ebocher opened #1082 "JTable select same value with null"
OrbisGIS is not able to select null value.

[2016-10-03 06:41] #1059 closed

[2016-10-05 14:44] #1079 closed

[2016-10-05 18:05] #1065 closed

[2016-10-06 12:02] SPalominos commented on #874
The loading of the default packages has been fixed.

[2016-10-06 12:02] #874 closed

[2016-10-07 07:14] SPalominos opened #1088 "Scripts Translation"
Explain in the wiki how to build a script plugin and how to translate the scripts.

[2016-10-07 07:16] SPalominos opened #1089 "Enumeration name translation"
Allow to translate the enumeration names (the human readable strings)

[2016-10-07 07:18] SPalominos opened #1090 "Custom category icons"
On the toolbox, on the category JTree, make is uses custom icons following the name. If the name of the category is the same as an icon of the resources, uses the icon.

[2016-10-07 07:23] SPalominos opened #1091 "WPS server"
Make the wps script be able to run in an external server

[2016-10-07 07:29] SPalominos opened #1092 "WPS script preprocess and postprocess method"
Make possible to add a preprocessing and postprocessing methods to the WPS scripts. The preprocessing one will be executer just before the processing methods execution. The post processing method will be executed after the processing method execution, even if the process has been cancelled.

[2016-10-07 07:35] SPalominos opened #1093 "WPS scripts batch"
Adds a mode to the toolbox to run a list of the same WPS process but with different values.

[2016-10-07 07:40] SPalominos opened #1094 "Uses WPS in other components"
Make the scripts available in the others components of orbisgis to easier the way to add functionalities.
i.e. in the geocatalog, on right click on a table add an item "create spatial index" wich calls a WPS script.

[2016-10-07 08:16] SPalominos commented on #1016
The problem doesn't appears under windows XP.

[2016-10-07 09:57] #1055 closed

[2016-10-07 11:32] SPalominos opened #1097 "Wiki for the WPS process creation"
Explain in the wiki how to build its own WPS script with the annotation, example ...

[2016-10-07 13:09] #1077 closed

[2016-10-07 13:13] #1048 closed

[2016-10-07 13:21] #1067 closed

[2016-10-10 12:37] ebocher commented on #1094
+100

[2016-10-10 12:39] ebocher commented on #1090
Fixed with #1100 ?

[2016-10-11 12:36] #1090 closed

[2016-10-12 11:19] ebocher opened #1101 "Start multiple OrbisGIS instances"
Remove the file instance.lock in the OrbisGIS folder to allow multiple instances of OrbisGIS on different databases.

[2016-10-12 13:48] ebocher commented on #1092
The preprocessing method will be useful for example to populate an EnumerationInput from a database with the list of table names.

[2016-10-12 16:43] nicolas-f commented on #1101
Nope nope. Before removing the lock file, each instance of OrbisGIS must not run on the same workspace and must not share the same temporary files.

A better solution should be to change the architecture of OrbisGIS, in order to have a single java instance but multiple gui with an instance osgi service, but this is a multiple month project.

[2016-10-14 12:52] ebocher commented on #1101
If you remove the  lock file you can start OrbisGIS with another workspace without any problem. It's an important limitation to not be able to start multiple OrbisGIS instances.
A good start will be to have a schema about the architecture.
@SPalominos

[2016-10-14 15:31] nicolas-f commented on #1101
You have two java machine instance that shares the same "temporary" jar files (OSGi cache). That is a very problematic situation.

A less problematic issue is that the two applications share the same log file.

[2016-10-17 12:01] ebocher opened #1103 "@RawDataInput and @EnumerationInput -> array"
@RawDataInput and @EnumerationInput must return an array.

[2016-10-17 12:05] ebocher commented on #1082
https://github.com/ebocher/orbisgis/tree/fixSelectNull

[2016-10-18 12:41] SPalominos opened #1104 "Stop the groovy wps api names"
Stop the names used in the groovy wps api to be sure they won't change in the futur.

[2016-10-18 12:53] SPalominos opened #1106 "Wps process chaining"
Implements the mechanism in the WPS client and/or serve to chain processes via a simple user friendly interface in the ToolBox.

[2016-10-18 12:54] SPalominos commented on #1092
This issue appears to be more linked to the future process chaining. => issue #1106

[2016-10-18 12:54] #1092 closed

[2016-10-18 12:57] SPalominos commented on #1101
It seems that we have to reworks a bit the architecture to allow to do that.
Maybe we should discuss how to do it : More than one instance of OrbisGIS or Make OrbisGIS able to handle more than only one database in the same time, more than one TableEditor ...

[2016-10-18 12:59] SPalominos opened #1107 "Updates the plugin to 5.1"
Updates all the OrbisGIS plugins to be compatible with the version 5.1.0

[2016-10-19 07:31] nicolas-f commented on #1101
An exemple if we want to manage multiple instance of main panel:

For the SQLConsole here:
https://github.com/orbisgis/orbisgis/blob/master/bundles/sqlconsole/src/main/java/org/orbisgis/sqlconsole/SQLConsole.java

The DataSource is a service reference. However, if we connect to multiple workspace, we will have multiple DataSource service instance. Then, in this case the DataSource should be specif

[2016-10-19 10:10] #1089 closed

[2016-10-19 12:23] #1103 closed

[2016-10-19 20:04] ebocher opened #1111 "Ménage d'autonme"
- [x] Change the code header to follow the Lab-STICC one,
- [x] Create a deb repo for OrbisGIS. See #989
- [x] Updates all the OrbisGIS plugins to be compatible with the version 5.1.0
- [x] Rename orbisgis-plugin_views by orbisgis-official-plugin (update jenkins jobs and nexus push)
- [x] replace https://www.transifex.com/irstv/teams/1247/fr/ by orbisgis team
- [x] Improve javadoc for all methods

[2016-10-19 20:05] ebocher commented on #1111
- [ ] Updates all the OrbisGIS plugins to be compatible with the version 5.1.0

[2016-10-19 20:05] ebocher commented on #1107
Related to #1111

[2016-10-19 20:05] #1107 closed

[2016-10-19 20:08] ebocher commented on #1111
- [ ] Document and clarify the Layer and data models (RowSet, DB Triggers...)

[2016-10-20 07:48] SPalominos commented on #1056
Linked to H2database issue :  h2database/h2database#385

[2016-10-20 08:09] SPalominos commented on #1056
So as @nicolas-f  says in the h2database issue, it was fixed and will be available in the next h2database release.

[2016-10-23 16:34] ebocher opened #1113 "Align file list representation"
Because
-  if the user select a list of files (eg shapefile) to import from geocatalog the files are represented as

"missfont.log" "pgadmin.log"
- if the user select files from a WPS (@RawDataInput) we have

/home/ebocher/missfont.log  /home/ebocher/pgadmin.log

We must align all representations even if the current actions in the Geocatalog will be replaced by WPSs.

[2016-10-24 09:12] SPalominos opened #1114 "RawData attribute extension"
Add to @RawDataAttribute a attribute called 'fileTypes' containing an array of the authorized the files extension/types and another or with the excluded types/extensions.

[2016-10-24 09:43] ebocher commented on #999
To solve this issue :

If database is H2,
check is the user if admin (INFORMATION_SCHEMA.USERS if ADMIN is TRUE),
otherwise, check grand in INFORMATION_SCHEMA.TABLE_PRIVILEGES

else (postgis case)
select * from information_schema.role_table_grants where grantee='USER_NAME'

Apply the grant filter on

CatalogPanel.initTree -> TreeNodeFactoryImpl.loadDatabase

[2016-10-28 12:14] ebocher commented on #1111
- [ ] Rename orbisgis-plugin_views by orbisgis-official-plugin (update jenkins jobs and nexus push)

[2016-11-02 19:10] gpetit opened #1117 "Table list not updated in the Geocatalog"
I'm using the last snapshot version of OG 5.1

In many cases, when I produce a new table, the table does not appear in the Geocatalog, even if I refresh. The table is just shown in the db tree.

I'm not able to reproduce and to understand why this table is concerned, more one another

@ebocher @SPalominos

[2016-11-03 14:43] SPalominos commented on #981
Postponed to 5.2

[2016-11-03 14:44] SPalominos commented on #997
Postponed  to 5.2

[2016-11-03 14:47] SPalominos commented on #1056
The issue still not resolved by the new version of h2database (1.4.193).
Issue #h2database/h2database#385 stills open.

[2016-11-04 08:48] SPalominos commented on #883
The best thing will be the following : on OrbisGIS crash, open a popup dialog which ask the user if he wants to send the crash report to the developpers. So the user won't have to search for the log file and to send it by hand.

[2016-11-04 11:45] ebocher commented on #1117
I'm not able to reproduce this issue.
It seems a lock pb with a corrupted database or thread.

[2016-11-04 11:45] ebocher commented on #1082
Fixed

[2016-11-04 11:45] #1082 closed

[2016-11-04 12:52] #1093 closed

[2016-11-04 12:52] #1113 closed

[2016-11-04 12:52] #1114 closed

[2016-11-05 09:15] ebocher commented on #1111
- [ ] Rename GeoStream by WMSLayer and clarify all WMS API

[2016-11-05 09:40] ebocher commented on #1111
[ ] replace https://www.transifex.com/irstv/teams/1247/fr/ by orbisgis team

[2016-11-07 08:56] ebocher commented on #1117
@gpetit  any input

[2016-11-07 08:57] ebocher commented on #974
Done

[2016-11-07 08:57] #974 closed

[2016-11-07 15:20] SPalominos commented on #1117
This bug seems to be not reproducible. We should get the log when the bug happens.

[2016-11-07 15:30] gpetit opened #1125 "Not able to load an H2GIS local db"
I created an H2GIS db.

Then I want to load this db in OG. So I create a new workspace and I point the db URI in the configuration panel.
Then when I click on "OK" to launch OG, nothing appears. OG is lost in space (no log in the terminal, ...) ... and I have to kill OG.

@ebocher @SPalominos

[2016-11-08 20:48] ebocher commented on #1111
- [ ] Clarify ```<artifactId>orbisgis-nexus</artifactId> <version>1</version>```

[2016-11-10 11:51] gpetit opened #1127 "No more option to filter objects in the table"
I'm using the snapshot V5.1

- Load a layer in the map, and open the attributes table,
- with the black arrow, select objets in the map
- in the table, click on "filter selection" --> lines are filtered
- in the map, select another objects
- in the table, click on "delete filter" --> the all table is displayed
- make a right-click to be able to filter once again (on the new selection) --> you don'

[2016-11-10 12:42] ebocher commented on #1125
Seems a bug with the H2GIS version.
Could you please re-test ?

[2016-11-10 12:42] #1117 closed

[2016-11-16 12:47] SPalominos commented on #953
Postponed to 5.2 as it will be part of the new Renderer issue.

[2016-11-16 12:55] SPalominos opened #1129 "Add WPS processes as action in OrbisGIS components."
For now, WPS processes can be called by the different OrbisGIS bundles. But it must be changed this way : the bundles should expose points of extension where the WPS client can add action. So it will make easier to manager the action and make it lighter.

[2016-11-16 12:58] SPalominos commented on #1094
Closed for now. The issue will continue with this one : #1129

[2016-11-16 12:58] #1094 closed

[2016-11-16 13:02] nicolas-f commented on #1129
Yes it is the "white board pattern" of OSGi, it is the best choice for declarative services.

[2016-11-16 20:51] ebocher commented on #1127
It's a correct behavior. The filter option is available when the number of selected rows is greater than zero.

[2016-11-16 20:51] #1127 closed

[2016-11-16 20:53] ebocher opened #1130 "Selection lost on filtered table"
1. Open a table
2. Select rows
3. Filter rows
4. Disable the filter -> the selection is lost in the table.

[2016-11-16 21:01] ebocher opened #1131 "Improve Infotool action"
The idea is to open the corresponding table of the layer when the user tries to obtain info on geometries from the MapEditor.
Geometries are selected on the map.
The table must be filtered to display only the selected geometries.

This issue is under development at https://github.com/ebocher/orbisgis/tree/tableeditor_api

Note : A button has been also added in the table editor to  filter or unfilt

[2016-11-16 21:08] ebocher opened #1132 "Set editor on top"
Offer a way to set an editor on top when it's stacked.

Useful for the infoTool action.

[2016-11-16 21:08] ebocher commented on #1125
@gpetit  ?

[2016-11-16 21:09] ebocher commented on #988
@gpetit ?

[2016-11-16 21:13] ebocher commented on #850
If I remove a column I get the message

org.h2.jdbc.JdbcSQLException: Invalid value "6" for parameter "columnIndex" [90008-193]

[2016-11-21 12:49] ebocher opened #1133 "Replace OBR message"
Replace the OBR file not found message when the user starts OrbisGIS without a connection.

[2016-11-21 12:50] ebocher opened #1134 "Twice tableeditor for the same table"
Open a table from the Geocataog
Open the same table from the DBTree
You will have 2 tableeditor.

[2016-12-07 13:18] SPalominos commented on #1021
Should be fixed, to be tested.

[2016-12-07 13:18] SPalominos commented on #1133
Should be fixed, to be tested.

[2016-12-07 13:18] SPalominos commented on #1134
Should be fixed, to be tested.

[2016-12-07 13:46] ebocher commented on #1133
Thanks

[2016-12-07 13:46] #1133 closed

[2016-12-07 13:47] ebocher commented on #1134
Merci

[2016-12-07 13:47] #1134 closed

[2016-12-07 13:49] ebocher commented on #1021
Merci

[2016-12-07 13:49] #1021 closed

[2017-01-04 10:21] gpetit commented on #1125
Seems resolved.

Thanks

[2017-01-04 10:21] #1125 closed

[2017-01-20 07:54] ebocher commented on #1131
#1140 solves the issue but... Is it possible to solve also this kind of functioning :

Do not reload the whole table before filtering it because it adds some latency on big table ?

To test

Run infotool ->  rows are filtered (Ok)
Re run infotool -> the whole table is loaded and the filtered is applied.

[2017-01-20 08:06] nicolas-f commented on #1131
The model data behind JTable do not change. The only manipulated object is https://docs.oracle.com/javase/7/docs/api/javax/swing/RowSorter.html .

[2017-01-20 09:35] ebocher commented on #966
Any input ?

[2017-01-20 10:42] gpetit commented on #1131
@nicolas-f not clear for me. Is it possible or not to skip the loading of the all table ?

In addition, here the info tool only works if the user draw a rectangle. Is it possible to select an object only by clicking on it (and also many object if you press in the same time Ctrl (same behaviour with the black arrow)) ?

[2017-01-23 11:03] ebocher commented on #1131
any input ?

[2017-01-23 13:38] nicolas-f commented on #1131
There is no loading of all table.

It is possible to change the tool for a click selection.

[2017-01-23 14:57] gpetit commented on #1131
@nicolas-f Maybe you didn't checked but when you click on a new object (with the info tool), you can see that the table does not display immediately selected attributes. During a variable laps of time, you can see that ALL the table is displayed. To test, do this procedure with a table that has at least 50 000 lines.

Concerning the second point, could you please explain why this is not possible.

[2017-01-23 15:11] SPalominos opened #1141 "Wps properties configuration"
Make the wps properties configurable by the user. They should also be saved and loaded.

[2017-01-23 15:12] SPalominos opened #1142 "WPS Exception"
When the wps server encounter problem, it should return exception to the client. So those exceptions should be managed by the server to generate them and by the client to display human readable messages.

[2017-01-23 15:14] SPalominos opened #1143 "Wps values by reference"
In the WPS specifications, the values can be pass by value itself  or by reference, but only the value mode is managed.

[2017-01-23 15:15] SPalominos opened #1144 "Wps server accessible"
Make the Wps server be a real server : make it accessible (locally in the first step) to Wps client other than OrbisGIS, like QGIS.

Steps for the server side :
 - Adds an OSGI webserver to OrbisGIS
 - Connect to WPS server to the web server to expose the WPS request
 - Test locally the connection to the OrbisGIS web server with an other client
 - Test all the well running of the scripts with diff

[2017-01-23 15:18] ebocher commented on #1144
Could you please provide a more detailed info to resolve this issue ?
The main steps ?
Thx

[2017-01-23 15:21] ebocher commented on #1141
Do you have a list of  properties ?

[2017-01-23 15:25] nicolas-f commented on #1131
When you do a new selection the filter is removed then it is applied. When the filter is removed the table data is **not** reloaded. Computation of the selected rows may take time depending on the row count, this is normal.

I think you have misread the second point.

[2017-01-23 16:02] gpetit commented on #1131
@nicolas-f Sorry for the second point. My bad. So do you think it's easy to upgrade this new behaviour ?

For the first point, it's not really clear for me. Ok the table is not reloaded (in a informatic point of view). But in a user point of view there is a lag ... Is there a way (a work around, ...) to solve this latency ?

[2017-01-23 16:22] nicolas-f commented on #1131
I will looking how to improve the user experience.

Yes it should be easy to upgrade the behaviour, I will read how the black arrow is implemented.

[2017-01-23 16:45] nicolas-f commented on #1131
Do you feel it is a latency because there is no user feedback when OrbisGIS is computing the rows affected by the selection ?

[2017-01-24 08:39] ebocher commented on #1104
Fixed ?

[2017-01-24 08:56] SPalominos commented on #1104
Yes.

[2017-01-24 08:56] #1104 closed

[2017-01-24 08:59] ebocher commented on #1088
Partially done with translation keys.
To close this issue we must find a method to translate internal script. Maybe something based on the same approach as @annotation

[code]

[2017-01-24 09:00] SPalominos commented on #1141
Here is the list of the properties : [basicWpsServer.properties](https://github.com/SPalominos/orbisgis/blob/master/bundles/wps/wps-service/src/main/resources/org/orbisgis/wpsservice/utils/basicWpsServer.properties). Some of them will be optional.

[2017-01-24 09:09] ebocher opened #1145 "JDBCTableFieldValueInput : list without selection"
Load the reprojectGeometries.groovy script.
Select a table and a geometry field
Unselect a value in the  list of SRID
Set a table name
Press run

Nothing appear and there is no log (error or warn) message while the srid[] is null. Moreover the execute button still activated.

[2017-01-24 09:11] SPalominos commented on #1144
Steps updated in the initial messages. Tell me if you have any question/comment.

[2017-01-24 09:16] ebocher opened #1146 "Update all groovy script to add a version number"
Clean all groovy scripts and add a version number

[2017-01-24 09:19] ebocher opened #1147 "Improve Boolean LiteralDataInput UI component"
Add a real the checkbox component

[2017-01-24 09:26] ebocher opened #1148 "Remove WPS menu when a UI script is closed"
Currently if the a UI script is closed without being executed the menu still appear in OrbisGIS Windows menu.

[2017-01-24 09:28] ebocher opened #1149 "Cannot start the OSGIS WPS services"
Sometimes it's not possible to reload the WPS client from OrbisGIS (OSGI services)

[code]

[2017-01-25 07:35] ebocher opened #1150 "Is there default value for @EnumerationInput"
Or Is encoding = ["System"] the default one ?

[code]

[2017-01-25 08:46] ebocher commented on #1149
It seems that this bug appears when you add an external script to the toolbox and you restart OrbisGIS.

[code]

[2017-01-26 09:01] nicolas-f commented on #1149
May be upgrade pax logging to 1.9.1

[2017-01-26 09:12] nicolas-f commented on #1144
May be create a orbisgis-web-dist project for a limited set of OSGi bundles.

Some links related to OSGi web server components:

https://github.com/entwinemedia/weblounge
http://servicemix.apache.org/
http://sling.apache.org/
http://blog.nanthrax.net/2012/12/how-to-enable-https-certificate-client-auth-with-karaf/
http://velocity.apache.org
http://felix.apache.org/documentation/subprojects/apache-f

[2017-01-26 09:45] nicolas-f commented on #1144
We need to avoid any xml/properties file except the pom.xml

Use annotation and declarative services to add new web page to the web server.

[2017-01-26 10:01] nicolas-f commented on #1144
I like Sling. They are very compatible with the current OrbisGIS framework and it does not require writing configuration files.

We can use OSGi declaratives services annotation:

[2017-01-26 10:18] ebocher opened #1152 "Remove gogoshell"
I propose to start the gogoshell only in a debug mode.

@gpetit ?

[2017-01-26 10:20] gpetit commented on #1152
+1

[2017-01-27 09:13] ebocher opened #1153 "Improve tooltip message on @EnumerationInput"
The tooltip message must be improve on the JTextField when the @EnumerationInput is editable.

[2017-01-27 09:14] ebocher commented on #1150
As discussed today, the default value(s) for all input will be String[] encoding = ["System"] or String[] encoding = ["System", "utf-8"]

[2017-01-27 09:15] ebocher commented on #1150
Note that for a boolean litteraldatainput cannot not be null. The default value is false.

[2017-01-27 09:42] SPalominos commented on #1144
Nice, thank you, we will give a look to it !

[2017-01-27 09:45] ebocher commented on #1144
Thanks a lot @nicolas-f

[2017-01-27 13:33] #1152 closed

[2017-01-27 15:02] ebocher opened #1156 "Ability to get a progressmonitor"
Offer a way to return a progressmonitor for a script in order to do

[code]

[2017-01-27 15:03] #1064 closed

[2017-01-27 15:14] ebocher opened #1157 "@RawDataOutput save a file"
As @RawDataInput the WPS client must offers a UI to set a path to save a file.

[2017-01-31 08:52] ebocher opened #1161 "@JDBCTableFieldValueInput filter fields"
@JDBCTableFieldValueInput offers a way to display a list of field names available in a table.
It would be nice to add a filter on field names as excludedTypes.

[code]

The same filter must be available at JDBCTableFieldInput level

[2017-02-01 07:16] ebocher commented on #1147
Closed related to #1150

[2017-02-01 07:16] #1147 closed

[2017-02-02 17:22] ebocher opened #1163 "Cannot re-open an OrbisGIS workspace"
The last release http://jenkins.orbisgis.org/job/orbisgis/425/

returns

[code]

[2017-02-02 17:23] ebocher commented on #1163
humm if the toolbox.properties is remove the OrbisGIS works.

[2017-02-03 07:56] nicolas-f commented on #1163
This issue may be linked to that http://stackoverflow.com/questions/24570288/debug-osgi-component-activation-deactivation-issue

[2017-02-06 13:04] #1163 closed

[2017-02-06 13:12] ebocher commented on #1157
The UI dialog message must be changed from "Make a selection" to "Save to"

The textfield UI must display the path of the file

[2017-02-06 13:19] ebocher commented on #1145
Fixed in the code but not in the UI because event if minOccurs is modified the user can unselected value in the Jlist

[2017-02-06 13:20] #1149 closed

[2017-02-06 13:20] #1141 closed

[2017-02-08 13:29] ebocher opened #1167 "Batch script ui broken"
The last PR breaks the bash script UI.
Have a look on "Geometry properties" or "Buffer(s)" scripts
Please test more before sending a PR.

@gpetit
Could you test ? Maybe I'm wrong.

[2017-02-08 13:42] gpetit commented on #1167
It works for me (release of 08/02/17) (I tested "Geometry properties" and "Reproject geometries"

But the UI is verrryyyy slow (I mean, just the loading of the toolbox and also the selection of parameters (list of tables, fields, ...)

[2017-02-08 14:01] ebocher commented on #1167
Ok for me nothing appears

[2017-02-10 09:35] SPalominos opened #1169 "Progress Monitor for wps job"
ProgressMonitor would be very useful to manage and to follow the progress of the execution of a WPS process. The progression will be displayed in the OrbisGIS UI without the need of the LogEditor.
But now, it needs to use a SwingWorkerPM which creates a dependency to Swing, that can't be done for the WPS server.
The solution could be to create and interface, that would be implemented in SwingWorke

[2017-02-10 09:42] SPalominos commented on #1156
Liked to the issue #1169

[2017-02-10 09:53] nicolas-f commented on #1169
Why we can't use a SwingWorker under WPS Server ? I don't think it will fail with a HeadLess exception. You can try run wps server with the following option to test it ``-Djava.awt.headless``

[2017-02-10 15:35] #1167 closed

[2017-02-10 15:35] #1157 closed

[2017-02-16 15:14] #1148 closed

[2017-02-16 15:14] #1145 closed

[2017-02-16 15:14] #1132 closed

[2017-02-16 15:16] #1156 closed

[2017-02-16 15:17] #1169 closed

[2017-02-16 15:18] #1063 closed

[2017-02-16 15:26] nicolas-f commented on #1132
It has been postponed or done ?

[2017-02-17 11:26] ebocher commented on #1143
Value reference will offer a way to set a file from a remote adress

[2017-02-17 11:26] ebocher commented on #1062
Is it possible to have an example ?

[2017-02-17 14:23] ebocher commented on #1161
The filter doesn't seem to work.
I have modified the deleteColumns.groovy
@JDBCTableFieldInput(
        title = ["Columns","en","Colonnes","fr"],
        description = ["The columns to remove names.","en",
                "Le nom des colonnes à supprimer.","fr"],
	excludedNames = ["pk"],
        jdbcTableReference = "orbisgis:wps:official:deleteColumns:tableName",
        identifier = "orbisgis:wp

[2017-02-17 14:27] ebocher opened #1173 "WPS with the same identifier"
It seems that the service does not take into account the process identifier
ie :
identifier = "orbisgis:wps:official:deleteColumns"

I m able to add twice the same WPS with the same identifier

[2017-02-17 14:29] #1153 closed

[2017-02-17 14:44] ebocher opened #1174 "WPS toolbox doesn't work with a postgis db"
Cannot start the toolbox it returns the message

Got java.lang.NullPointerException when invoking "public void org.orbisgis.wpsservicescripts.OrbisGISWpsScriptPlugin.activate()" in: class org.orbisgis.wpsservicescripts.OrbisGISWpsScriptPlugin
Satisfied: Immediate component: org.orbisgis.wpsclient.impl.WpsClientImpl
Got java.lang.IllegalArgumentException: there is already a factory named ProcessEdi

[2017-02-20 10:13] ebocher commented on #1161
It works.
Thanks

[2017-02-20 10:13] #1161 closed

[2017-02-20 10:43] ebocher opened #1175 "Database Connection Pooling ?"
Do we need to add a JDBC connection pooling instead of a standard JDBC connection ?

as :
https://github.com/brettwooldridge/HikariCP

@nicolas-f @SPalominos

[2017-02-20 13:55] ebocher commented on #1174
Thanks

[2017-02-20 13:55] #1174 closed

[2017-02-20 13:55] ebocher commented on #1173
Thanks

[2017-02-20 13:55] #1173 closed

[2017-02-20 13:56] ebocher commented on #1062
Thanks

[2017-02-20 13:56] #1062 closed

[2017-02-23 10:30] ebocher opened #1180 "BoundingBox Data"
Add support to the BoundingBox Data as input and output.
Note that a BoundingBox :

- could have a  reference to a CRS definition.
- a dimension 2 or 3
- is defined by 4 values as example:  51.9,7.0,53.0,8.0

So in the UI we can have

Examples :
 51.9,7.0,53.0,8.0,EPSG:4326
 51.9,7.0,53.0,8.0,2, EPSG:4326 where 2 is the dimension
 51.9,7.0,53.0,8.0,2 -> use the default CRS
 51.9,7.0,53.0,8.0  -> u

[2017-02-23 12:46] ebocher commented on #988
@gpetit ?

[2017-02-23 12:47] ebocher commented on #966
@nicolas-f ?

[2017-02-24 10:06] ebocher opened #1183 "Ubuntu repository"
Update the OrbisGIS website to explain how to install the ppa

https://launchpad.net/~orbisgis/+archive/ubuntu/orbisgis-unstable

[2017-02-27 09:18] nicolas-f commented on #1175
The h2 connection keep alive time make this kind of operation useless. However I don't know for PostGIS. Do you have connection issues with PostGIS ?

[2017-02-27 09:53] nicolas-f commented on #966
It is used only when computing the envelope of selected rows.

 It should be reimplemented without requiring creating a temp table.

[2017-02-27 12:36] gpetit commented on #1131
Not sure to understand your question.
In my "user" point of view, this latency is not user friendly and we should find a way to remove it

[2017-02-27 13:04] nicolas-f commented on #1131
If the operation take processing time, then the processing time cannot be removed. But we can show a progress to the user to tell him that OrbisGIS is computing the intersection between the InfoTool area and the table geometries.

[2017-02-28 15:56] ebocher commented on #1180
Add support to the 3D BB
Add copy paste icon with a tooltip

[2017-02-28 15:56] ebocher commented on #1175
nope So I close this question

[2017-02-28 15:56] #1175 closed

[2017-02-28 16:02] ebocher commented on #1131
The pb is not on the processing time but on the user experience.
It would be better to by pass the table loading between each filters.
I never seen that before. ;-)

[2017-02-28 16:13] ebocher commented on #997
Critical for 5.1

[2017-02-28 16:14] ebocher commented on #966
Critical for 5.1
Because some people would have a read connection on a postgis db

[2017-03-01 14:44] gpetit commented on #1183
I'm on it

[2017-03-01 19:33] ebocher opened #1186 "Cannot start plugin manager with the Ubuntu ppa"
The last unstable Ubuntu is not able to start the plugin manager.
It returns

[code]

Note that each versions (486, 487, 488) available on jenkins work without any problems.

The zip version have been loaded in safemode.
If the Ubuntu is started with orbisgis -clean code there is no pb.
It would be nice to find a workarround to ensure that the user will be able to start OrbisGIS after any changes.

[2017-03-01 19:55] ebocher commented on #1180
Tested with this approach

[code]
But it returns an error.
Could you please provide an example ?

[2017-03-01 19:58] ebocher opened #1187 "Add unit tests for all WPS input and output"
All input and output must be tested.

[2017-03-01 20:08] ebocher opened #1188 "Move the h2datasource.trace.db"
A file is created by OrbisGIS to trace h2datasource errors...
The location of this file causes problem when OrbisGIS is deployed for example with and Ubuntu package.
What about moving this file into the ./OrbisGIS/version ?

[2017-03-02 07:54] nicolas-f commented on #1188
We have to add a new default parameter on database uri:

http://h2database.com/html/features.html#trace_options

Tell h2 to use our SLF4j logging api:
[code]

[2017-03-02 08:13] SPalominos commented on #1180
I might be just a problem on the attribute name.
Does that work ?
[code]

[2017-03-02 09:24] ebocher commented on #1180
It returns

[code]

[2017-03-02 09:36] ebocher commented on #1180
Sorry it works with dimension = 2
however defaultCRS="EPSG:4326" list all CRS and not only the EPSG:4326

[2017-03-02 11:04] ebocher commented on #1180
[code]
returns

Unable to parse the process file:/home/ebocher/Autres/codes/orbisgis/bundles/wps/wps-service-scripts/src/main/resources/org/orbisgis/wpsservicescripts/scripts/Import/importOSMFromServer.groovy.
The script is not valid.

[2017-03-02 12:03] SPalominos commented on #1180
It's a problem on my side, the fix is coming.

[2017-03-02 13:13] #1146 closed

[2017-03-02 15:07] gpetit opened #1190 "Open attributes even if there is no data in Geocatalog"
Even if you don't have any tables in the Geocatalog (e.g when you start with a new empty workspace), when you make a right-click, you have the option "Open attributes".

It make no sense. This option should be display only if there is already data loaded.

@ebocher @SPalominos

[2017-03-06 08:27] ebocher commented on #1188
It seems it doesn't work.
Please @SPalominos could you confirm ?

[2017-03-06 08:28] ebocher commented on #1187
A unit test must be added for the bounding box element

[2017-03-06 08:29] ebocher commented on #1180
Add a message when the user set
dimension ="3",

The 3D Bounding Box is not yet supported.

[2017-03-06 08:30] ebocher commented on #1131
@gpetit What do you think about my comment ?

[2017-03-06 08:34] ebocher commented on #1130
@nicolas-f @gpetit
Do you think its  a normal behaviour ?

[2017-03-06 08:40] SPalominos commented on #1188
With the option `TRACE_LEVEL_FILE=4`, the content of the h2datasource.trace.db file is written in the log panel but the h2datasource.trace.db file still created and seems to be used to only display exception : [file content](http://pastebin.com/0cH2A35a)

[2017-03-06 08:40] ebocher opened #1191 "WPS raw input regression"
Now when we select a file from the rawinput a dialog message appears "Confirm overwrite".

To test
Run import shapefile
Select a file

@gpetit

[2017-03-06 08:46] ebocher opened #1192 "Clean the UI element when the WPS UI is closed"
The WPS UI contains the previous informations.

To test

First step :
Run import shapefile
Populate the ui
Run the script

Second step :
Run import shapefile
You will see the previous informations.
Furthermore if you run the script with the previous informations it crashes...

@gpetit

[2017-03-06 09:50] nicolas-f opened #1193 "Documentation about link/import"
In this file http://doc.orbisgis.org/en/latest/users/quickstart.html#load-data

May be add more information about the difference:

- Add: Link a new database table to a file (vector, alphanumeric, ...),
  - Pro:
    - Immediate table creation
    - Does not take more disk space
    - Can create spatial index
   - Cons:
     - Read-only table
     - Cannot create alpha-numeric index
     - Only com

[2017-03-06 10:11] gpetit commented on #1193
+1 I'm also currently preparing a schema to illustrate a bit more this part

@ebocher

[2017-03-06 13:01] gpetit commented on #1193
@nicolas-f Done. Please check http://doc.orbisgis.org/en/latest/users/quickstart.html#load-data

[2017-03-06 13:06] nicolas-f commented on #1193
Approved 👍

[2017-03-06 13:06] #1193 closed

[2017-03-06 13:08] gpetit commented on #1193
Thx Chuck

[2017-03-06 16:15] ebocher commented on #1150
I reopen this issue because boolean litteraldatainput  return a null value when minOccurs =0

[2017-03-06 16:17] #1192 closed

[2017-03-06 16:18] #1191 closed

[2017-03-06 16:19] ebocher commented on #1190
It will be fixed with the import WPS scripts

[2017-03-06 16:21] ebocher commented on #1180
I think the bouding box UI must be simplified.
The user must set only  51.9,7.0,53.0,8.0,EPSG:4326 in a textfield.
But list of CRS must be masked.
@gpetit and @SPalominos

[2017-03-06 19:35] ebocher opened #1196 "ProgressMonitor does not show the progression"
The progressmonitor does not show the progression.
To test

Import a shapefile from the geocatalog you will see the progression.
Import a shapefile from a WPS script, there is no progression.

[2017-03-06 19:46] ebocher opened #1197 "WPS refresh list of tables on PostGIS database"
The list of tables is not updated when the content of the data change.

To test

Import a shapefile with a WPS script
Try to export the new table (imported shape) with a WPS script. The table is not listed in the @JDBCTableInput.

Note : The user must refresh the geocatalog to display the new table.

Maybe @nicolas-f could comment this issue.

[2017-03-06 20:01] ebocher opened #1198 "JDBCTableFieldInput constraint on PostGIS"
The following script
[code]

does not populate the JDBCTableFieldInput. The Jlist is empty...

[2017-03-06 20:15] ebocher opened #1199 "Align WPS utilities with H2GIS utilities"
The WPS utilities to return the list of tables, the list of columns, the geometry types... must use as far as possible the H2GIS utilities :JDBCUtilities , SFSUtilities.

[2017-03-07 10:51] gpetit commented on #1180
Under the text area dedicated to the bbox geometry, add a line to specify the CRS.

Here you have:
- a drop-down list with at least the default CRS
- if nothing is specified, a list of all CRS
- if some CRS are specified, the list of supported CRS (with a popup message "Only supported CRS are listed")

[2017-03-08 08:45] SPalominos opened #1200 "Covers WPS bundles with tests."
#### Cover all the WPS bundles with tests : ####
* wps-client
  * [ ] Test communication with the wps-service.
  * [ ] Test the process execution and its tracking.
* wps-groovy-api : No test to do.
* wps-service
  * [ ] Test the marshalling/unmarshalling of the model classes.
  * [ ] Tests the process parsing.
  * [ ] Test the WPS request (getCapabilities, describeProcess ...).
* wps-service-scrip

[2017-03-08 09:08] ebocher commented on #1188
@nicolas-f  any idea ?

[2017-03-08 09:10] nicolas-f commented on #1188
Maybe ask help on h2 mailing list. Or find if there is switch in h2 source code.

[2017-03-08 10:12] ebocher commented on #1197
It seems there is two possibilities
- add a timer to refresh datamanager
- add button in the UI to refresh the list of tables

@nicolas-f

[2017-03-08 11:11] SPalominos commented on #1197
To complete the previous comment, now the WPS client updates the table list exactly in the same way as the geocatalog.
There is two other possibilities but them don't seem to be good ideas (in my opinion) :
- Refresh the list on opening a script : The user can't use a table add after the script has been open, he has to close and reopen it.
- Refresh the list on clicking on the UI components : It c

[2017-03-13 08:45] gpetit commented on #1197
Just to complete, for me it's normal that the list is not refreshed if the WPS is already open.
If you create a new layer, you have to reopen the WPS script panel to see the layer in the list.

[2017-03-13 08:47] gpetit commented on #1183
Done : http://doc.orbisgis.org/en/latest/users/install.html#ubuntu-ppa-repository
@ebocher you can have a look and close

[2017-03-13 08:49] gpetit commented on #782
@nicolas-f  any inputs ?

[2017-03-13 08:53] #1183 closed

[2017-03-13 12:31] gpetit commented on #782
@nicolas-f  can we disable this log as you suggested ?

[2017-03-13 13:11] nicolas-f commented on #782
You don't want this message to be hidden by default ?

[2017-03-13 13:17] gpetit commented on #782
Yes, but if I understand your PR, you will display if the rendering takes more than 1s ?

[2017-03-13 13:23] nicolas-f commented on #782
I do two changes. First i change from Info log to debug log (so this message is not displayed anymore) and yes this debug message is displayed only if the rendering times takes more than 1sec and if OrbisGIS is configured to display debug message.

[2017-03-13 13:31] gpetit commented on #782
Ok more clear for me ;-)
Seems perfect !

[2017-03-13 14:26] ebocher commented on #781
Thanks @nicolas-f

[2017-03-13 14:26] #781 closed

[2017-03-14 10:10] gpetit commented on #1131
+1 but the question is how to by-pass

[2017-03-14 10:14] gpetit commented on #1097
We should discuss where we want to put the WPS doc.
If it's limited, the wiki can be a solution. But if it's more detailled, in my opinion, the wiki is not suitable (pblm with the pages name, insertion of images, ...). In this case, doc.orbisgis.org is better.

@ebocher

[2017-03-14 10:16] nicolas-f commented on #1131
![mgc](https://cloud.githubusercontent.com/assets/1382241/23895882/ae07535e-08a7-11e7-88f3-c09dbc7faeec.gif)

[2017-03-14 10:27] gpetit commented on #1056
Maybe this issue will be resolved with the new h2database release (1.4.194) ?

[2017-03-14 11:15] gpetit commented on #1130
No. If possible, when disabling the filter, we should go back to situation n°2

[2017-03-14 11:29] gpetit commented on #1198
Sorry not clear for me. You mean, you have this problem when you launch OG in PostGIS mode ?

If yes, are you executing this script in the Groovy Console ?
In this case, I have the following error message
[code]
Or, do you execute this script through the toobox (save the script in a JDBCTable.groovy file, and load it in the Toolbox). Here I have this error message
[code]

[2017-03-14 11:39] gpetit commented on #1196
With the WPS script there is a progression, but the number stay at 0%

[2017-03-14 13:04] ebocher commented on #1131
@nicolas-f
Please do not post here this kind of humor.
By the way, this issue is clearly related to a code design.

[2017-03-14 13:52] gpetit commented on #988
I just tested on OG - PostGIS mode and it seems to work well. No problem to display both layers and to zoom on it.

[2017-03-15 14:14] SPalominos opened #1207 "Update GeometryData and BoundingBoxData"
For now, BoundingBoxData and GeometryData are represented in the Groovy scripts by a Geometry object :
[code]

 This need to be changed for a String object.
It will allow to declare default value in the same way as the others input/output :
[code]
An utility class will be provided to permit to parse the String into a Geometry (It will reuse the code from the processing classes).

[2017-03-15 16:01] gpetit opened #1208 "Plugin manager is unstable"
In the last release of OG (with PPA), I detect some unstability in the plugin manager.

I installed some plugins (e.g ChartView, Mailto and R Console). Then, I want to download & start "Mapuce_tools" plugin. Here, I have the 1st panel that ask me "are you sure you want to install ?" --> I click on "OK" ... and then nothing. No installation, no log in the terminal ....

Then I quit OG and restart w

[2017-03-15 17:16] ebocher commented on #1208
This pb is due to the OSGI mechanism.
@nicolas-f  is the best person to look for the pb.

[2017-03-16 07:58] SPalominos opened #1209 "WPS identifier hierarchy"
Now all the identifiers in a WPS process must be unique, so an identifier of an output/input can be sometimes quite long. It must be change, the identifier of an input is build from the one of the process :
[code]
The process identifier is `"my:process:identifier"` and the input identifier is `"my:process:identifier:input:identifier"`

[2017-03-16 08:03] ebocher commented on #1209
Sounds good.
Could you please post a use case with a java code to load a process and set input an output values ?
It's just to see if we have not left anything out

[2017-03-16 08:04] ebocher commented on #1208
@gpetit
Do you have log error a trace ??? The pb seems to be related to the WPS plugin .
@SPalominos

[2017-03-16 08:05] gpetit commented on #1208
No nothing. No log in OG or in the Ubuntu terminal

[2017-03-16 08:09] nicolas-f commented on #1208
Can you send the file /home/gwendall/.OrbisGIS/5.1/orbisgis.log ?

[2017-03-16 08:11] gpetit commented on #1208
Done

[2017-03-16 08:38] nicolas-f commented on #1208
Some founds issues
[code]

[code]

[code]

[code]

Weird error
[code]

I did not find traceback of bundle install directives. But all traceback here must be solved.

[2017-03-17 12:43] ebocher opened #1212 "OrbisGIS external folder in sources"
What about deleting the [external] (https://github.com/orbisgis/orbisgis/tree/master/external) folder in OrbsGIS and use only the https://github.com/orbisgis/orbisgis_osgi-dependencies ?

[2017-03-17 13:14] nicolas-f commented on #1212
The goal of external folder is not to have to publish on maven our own derived jar of external libraries.

If you are using orbisgis_osgi-dependencies you will have to publish the jars on maven.

Morover in orbisgis-dist, the managing of jar maven versions is simple as all projects in external folder use the same maven version as OrbisGIS (but the real bundle/packages versions are kept in the mani

[2017-03-17 13:15] nicolas-f commented on #1212
orbisgis_osgi-dependencies is used for OrbisGIS plugins only

[2017-03-17 13:28] ebocher commented on #1212
The last JTS released will have an OSGi manifest.

Using two repositories to manage dependencies could be  a risk because of duplicated dependencies and not up to date.

[2017-03-17 13:54] nicolas-f commented on #1212
The real bundle/packages versions are kept in the manifest. So if there is a version issue OSGi will stop the integration of the wrong bundle.

[2017-03-21 08:59] ebocher opened #1215 "WPS clean up"
The code for the WPS bundle modules must be cleaned and checked.

**Bundle WPS Service**

Complete javadoc (methods and arguments) on

Class DataProcessingManager on  preProcessData , postProcessData
Class ProcessExecutionListener
Class Parser complete doc for defaultvalue
Class ProcessParser
Classes ProcessIdentifier, Job , DataType, ObjectFactory , LocalWpsServer

Why isSpatialType(DataType data

[2017-03-21 10:44] nicolas-f opened #1217 "Remove calls to bundleContext.getServiceReference"
Please remove calls to bundleContext.getServiceReference as it may raise Null pointer exception and break bundles services cycles.

https://github.com/orbisgis/orbisgis/blob/master/bundles/orbisgis-omanager/src/main/java/org/orbisgis/omanager/ui/ActionDeploy.java#L117

[2017-03-21 13:12] ebocher commented on #1217
What about https://github.com/orbisgis/orbisgis-official-plugins/blob/master/chartView/src/main/java/org/orbisgis/chart/ChartFactory.java#L192 ? is it the same issue ?

[2017-03-21 13:55] nicolas-f commented on #1217
I think you created theses static class for Groovy. But do not forget to call [BundleContext.ungetService](https://osgi.org/javadoc/r4v43/core/org/osgi/framework/BundleContext.html#ungetService(org.osgi.framework.ServiceReference)) when the service is not used anymore.

[2017-03-21 15:18] ebocher commented on #1217
We must check all bundles and all plugins to fix this issue.

[2017-03-21 15:23] nicolas-f commented on #1217
There is a single bundle that call this function. And also in groovy script.

If our Groovy parser could be able to declare a new osgi bundle from script it would be wonderfull. Maybe somebody has already done this or it will be done.

OSGi was done also in order to exchange plugins accross softwares.

[2017-03-22 09:41] ebocher opened #1220 "Update online javadoc"
The http://javadoc.orbisgis.org/ has not been updated since 2 years ago....

[2017-03-22 11:01] #1207 closed

[2017-03-22 11:04] #1198 closed

[2017-03-22 14:09] SPalominos opened #1221 "Extract LocalWpsServerImpl from wps-service bundle"
#### Update:

- Split the `wps-client` into : `orbiswps-client` (the API) and toolbox-editor (the implementation)
- Split `wps-service` into : `orbiswps-server` (the API and the base implementation) and moves the methods having dependencies to OrbisGIS bundles into the `toolbox-editor`
- Split `wps-script` into : `orbiswps-script` (the API and the implementation) and `toolbox-ui-action` (the metho

[2017-03-22 14:10] SPalominos commented on #1221
I'm on this issue.

[2017-03-22 14:56] gpetit opened #1222 "db corruption and other"
I have a really strange bug.
I'm working with the PPA release.
I launched my workspace in clean mode, then I executed the following SQL script:
[code]
The process is ok. Wait few seconds (maybe 30) and then I have the following error message:
[code]
Here I can not do anything in OG. Tables are freezed, .... So I stopped OG, removed the database.mv.db file and relaunched.
Same bug.
So I created a n

[2017-03-22 15:18] ebocher commented on #1222
I will test.

[2017-03-22 15:22] ebocher commented on #1222
I'm not able to reproduce... I'm using the last snapshot .

[2017-03-22 15:24] ebocher commented on #1221
LocalWpsServerImpl must be linked to the datamanager and the setDatasource must be removed.

[2017-03-22 15:30] gpetit commented on #1222
Hard to identify, but maybe I have something.
After the execution of the first block (until  ```SELECT * FROM test_nodes;```), reexecute once again ```SELECT * FROM test_nodes;``` --> here I have the corruption

[2017-03-27 08:41] ebocher opened #1223 "Final JDBC element names"
Rename JDBCTable, JDBCTableField and JDBCTableFieldValue to
JDBCTable, JDBCColumn and JDBCValue

[2017-03-27 13:31] ebocher commented on #1221
add addGroovyProperties and removeGroovyProperties on the WPSServer instance

[2017-03-28 14:03] ebocher commented on #1222
I close this issue because I'm not able to reproduce the bug

[2017-03-28 14:03] #1222 closed

[2017-03-28 14:04] ebocher commented on #1217
@SPalominos  any idea about @nicolas-f comment's

[2017-03-28 14:04] #1209 closed

[2017-03-28 14:05] ebocher commented on #1197
As discussed with @SPalominos we decide to get the list of tables when the script is loaded

[2017-03-28 14:06] ebocher commented on #1208
done

[2017-03-28 14:06] #1208 closed

[2017-03-28 14:15] SPalominos commented on #1091
Fixed with the Pull-Request #1225

[2017-03-28 14:15] #1091 closed

[2017-03-28 20:30] ebocher opened #1226 "WPSServerImpl null pointer on addGroovyProperties"
Add a unit on WPSServerImpl to ensure that add and remove GroovyProperties works.
The test bellow returns a null pointer because this.propertiesMap is null in WPSServerImpl

[code]

[2017-03-29 07:03] ebocher commented on #1226
I'm on it.

[2017-03-29 08:37] ebocher commented on #1226
So with @SPalominos we decide to throw a WPSServiceException if the server is not initialized like this

[code]

[2017-03-29 08:38] ebocher commented on #1142
Add a class WPSServiceException to manage all WPS service exception

[2017-03-29 08:39] ebocher commented on #1221
This issue is re-open because the extraction is not yet finished

[2017-03-29 08:43] ebocher commented on #1221
Todo :

-  addProcess(File f, String[] iconName, boolean isRemovable, String nodePath) must be change to public List<ProcessIdentifier> addProcess(File f)
- if addProcess(File f, String[] iconName, boolean isRemovable, String nodePath)  is implemented within  the OrbisGISWPS implementation what about Mapuce-Tools ?
- the method to copy scripts from a path to the WPS script folder must be added in

[2017-03-29 12:56] SPalominos opened #1228 "Value listing too long"
When the ToolBox UI is listing the values for a JDBCTableFieldValues, the listing can be very long.

[2017-03-29 20:50] ebocher commented on #1223
I'm on it
https://github.com/ebocher/orbisgis/tree/changeWPSNames

[2017-03-31 10:12] #1228 closed

[2017-03-31 13:53] #1223 closed

[2017-03-31 13:59] #1226 closed

[2017-03-31 15:32] #1180 closed

[2017-03-31 15:34] ebocher commented on #1197
thanks

[2017-03-31 15:34] #1197 closed

[2017-04-01 10:03] #1186 closed

[2017-04-01 10:08] #1150 closed

[2017-04-04 12:44] pierromond opened #1231 "Add Legend when export image from the map editor"
Hi,

It could be great if, when we export an image from the map editor, we could add the legend, the north and a scale (https://adeorun.com/medias/echelle-carte-1200x628.jpg).

Best regards,

Pierre

[2017-04-04 12:46] pierromond opened #1232 "Legend colors"
In the style editor, is it possible to reverse the colors of the color scheme ?
Example: OrRd -> from red to white

[2017-04-04 15:09] ebocher commented on #1231
You must used the mapcomposer plugin to create a map layout to add furnitures to the map as a scale, a title.
Display and export legend are planed with the new SE style specification.

[2017-04-05 08:56] pierromond commented on #1231
Thank you !

[2017-04-05 08:56] #1231 closed

[2017-04-06 10:03] #1199 closed

[2017-04-06 10:04] #1187 closed

[2017-04-14 07:48] #1196 closed

[2017-04-14 11:56] #1221 closed

[2017-04-18 08:04] SPalominos commented on #1068
Issue move into the OrbisWPS repository : orbisgis/orbiswps#5

[2017-04-18 08:04] #1068 closed

[2017-04-18 08:38] SPalominos commented on #1088
Move into the OrbisWPS repository : orbisgis/orbiswps#6

[2017-04-18 08:38] #1088 closed

[2017-04-18 08:45] SPalominos commented on #1097
Moved into the OrbisWPS repository : orbisgis/orbiswps#7

[2017-04-18 08:45] #1097 closed

[2017-04-18 09:02] SPalominos commented on #1106
Linked to the issue orbisgis/orbiswps#8.

[2017-04-18 09:08] SPalominos commented on #1142
Moved into the repository OrbisWPS : orbisgis/orbiswps#9

[2017-04-18 09:08] #1142 closed

[2017-04-18 09:13] SPalominos commented on #1143
Moved into the repository OrbiWPS : orbisgis/orbiswps#10

[2017-04-18 09:13] #1143 closed

[2017-04-18 09:18] SPalominos commented on #1144
Move into the repository OrbisWPS : orbisgis/orbiswps#11

[2017-04-18 09:19] #1144 closed

[2017-04-18 09:26] SPalominos commented on #1200
Issue moved into the repository OrbisWPS : orbisgis/orbiswps#12

[2017-04-18 09:26] #1200 closed

[2017-04-18 09:39] SPalominos commented on #1215
Moved into the repository OrbisWPS : orbisgis/orbiswps#13

[2017-04-18 09:39] #1215 closed

[2017-04-19 07:35] ebocher commented on #1056
Tested with 1.4.194 and the bug still exist.
@gpetit could you confirm ?

[2017-04-19 12:10] nicolas-f commented on #1056
The computation of the envelope is not accelerated by the spatial index.

[2017-04-19 13:18] ebocher commented on #1056
This is not due only to the computation of the envelope because without spatial index the rendering is faster than with a spatial index.

[2017-04-19 14:29] gpetit commented on #1056
I just tried with a fresh version of OG.
I displayed two same imported shapefiles (BATI_INDIFFERENCIE - dept44).
To make an extended zoom, I don't see any differences (in both cases moreless 5s).
But when I zoom in and out at a more high scale, the display is quite faster with the layer that has the spatial index (Almost instantaneous vs 1s).

[2017-04-19 15:00] nicolas-f commented on #1056
After some test I found that h2 still use spatial index only on linked shape files. So there is a missing fix on the index cost on h2gis side. here:

https://github.com/orbisgis/h2gis/blob/master/h2gis-functions/src/main/java/org/h2gis/functions/io/file_table/H2TableIndex.java#L163

We have to copy paste new system index code of h2.

[2017-04-20 07:14] gpetit commented on #1056
@nicolas-f you mean that the optimization is currently only working with linked tables ?
In my previous test, I was using imported shape files.

[2017-04-20 07:18] nicolas-f commented on #1056
The fix done on h2 side works only with imported shape files. The issue is still there for linked shape files with spatial index.

[2017-04-20 07:27] gpetit commented on #1056
Hum I made a new test with linked shape file (ZONE_VEGETATION on dept 44) and here again I can see a huge difference between layer1 without spatial index and layer2 with spatial index.
- layer2 is displayed in quasi real time.
- layer1 takes at least 1s to display a small area

[2017-04-20 07:44] nicolas-f commented on #1056
Sorry I did not explain the issue. Using spatial index for iterating over all geometries (viewing all geometries) is slower than using primary key index.

On linked shape files H2 still use spatial index over primary key index even if there is no spatial predicates, this is because our implementation of the PK column return the wrong *index cost* (a cost > than spatial index)

The most easy way to

[2017-04-20 15:03] gpetit commented on #1056
So if I understand well (sorry if I'm a bit confused), you say that PK should always win against spatial index. But right now, when there is a spatial index, PK is not used.

If I'm right it means that PK should be more efficient than spatial index ... but considering my new tests, I think its more complex than that. Below is a small comparaison between full extent and small extent (USING ZONE_VEG

[2017-04-21 06:55] nicolas-f commented on #1056
I never say PK should be always used.

The rule is to use spatial index only if there is spatial predicates. So you will not loose 21s by iterating over all rows using R-Tree index.

[2017-04-24 07:43] SPalominos opened #1243 "Cover toolbox-editor with test"
#### Cover toolbox-editor with test :
  * [ ] Test communication with the wps-server.
  * [ ] Test the process execution and its tracking.

[2017-05-06 13:55] ebocher opened #1245 "Cannot display a postgis linked table"
The query

[code]
Works well but OrbisGIS is not able to renderer the table or show the attributes.

[2017-05-17 06:04] ebocher commented on #1245
Find a solution here https://github.com/h2database/h2database/issues/507

[2017-05-22 11:33] JacquessonL opened #1246 "Problem to install R console"
Hello,

I am trying to install the plug-in "R console" in OrbisGis through the plug in manager, and I have the following error message :

Resolver: Install error - org.orbisgis.aether-impl-osgi

Do you know what could be the problem ?

[2017-05-22 11:39] ebocher commented on #1246
Seems a pb with our plugin repository.
@SPalominos  Could you please check this issue ?

[2017-05-23 06:59] SPalominos commented on #1246
I'm on it.

[2017-05-23 07:48] SPalominos commented on #1246
In the very last OrbisGIS version downloaded from the website (5.1.0-SNAPSHOT-2017-05-23) the installation works on my machine.
@JacquessonL Which version of OrbisGIS are you using ? And what is the OS you are using (Windows, Linux, version) ?

[2017-05-23 09:12] pierromond commented on #1246
Just to add some info, I have the same problem on my professional computer (same network than @JacquessonL ) with the following error: Resolver: Install error - org.orbisgis.commons-vfs2-osgi

OrbisGIS version : 5.1.0-SNAPSHOT-2017-05-23
Windows 7 Professionnel

BUT... It works on my personal computer 4G connected. Should we suspect the network ? we are actually connected via the proxy: java -jar

[2017-05-23 09:23] nicolas-f commented on #1246
You have to set the proxy in OrbisGIS gui also.

![image](https://cloud.githubusercontent.com/assets/1382241/26347535/2d64d188-3faa-11e7-9c48-670f7cba67af.png)

[2017-05-23 09:37] JacquessonL commented on #1246
Thanks!

[2017-05-23 09:37] #1246 closed

[2017-05-23 09:46] SPalominos commented on #1246
Thank you @nicolas-f !

[2017-07-05 05:35] ebocher commented on #1056
Fix thanks to @nicolas-f

[2017-07-05 05:35] #1056 closed

[2017-07-05 08:39] ebocher commented on #1245
I'm on it

[2017-07-06 06:06] ebocher commented on #1245
I'm not able to fix this issue due to the complexity of readrowset architecture.
The pb  is now  :

CREATE LINKED TABLE USR_TEMP ('org.orbisgis.postgis_jts.Driver', 'jdbc:postgresql_h2://?:5432/mapuce','?', '?',  'lienss', '(SELECT * FROM lienss.usr limit 100)')

The USR_TEMP can be loaded by the tableeditor but the TOC is not able to draw the table due to an empty pk that returns a bad SQL syntax

[2017-07-31 12:46] pierromond opened #1247 ""Add" & "Import" difference is not very user-friendly"
Each time that I want to import data, I get a little confuse. I know that one of the two possibilities "add/import" copy the database during the importation and not the other one, but I never remember which term is for which functionality.

Maybe it could be possible to change for "Import" and "Import & copy" or sthg like that ?
I don't find any better idea for now.

[2017-07-31 14:52] pierromond opened #1248 "Save Database"
Does-it exist a way to save a complete database before to carry out a tricky calculation ?

[2017-07-31 15:44] nicolas-f commented on #1248
There is two methods.

- Copy the database file in the workspace *database.mv.db* (OrbisGIS must be closed before copying)
- Or dump the content of the database http://www.h2database.com/html/grammar.html#script

[2017-08-01 10:04] pierromond commented on #1248
Thank you !

[2017-08-01 10:04] #1248 closed

[2017-10-09 08:12] gpetit opened #1249 "Bug on "Same value" tool"
In the attributes table, we have the "Select same rows" tools.

If there is special character such as ' in the text value, the tool doesn't work

Below is the output log for a query on the region called "PROVENCE-ALPES-COTE-D'AZUR"
[code]

We have to take into acount such cases.

@ebocher @nicolas-f @SPalominos

[2017-10-13 14:42] j3r3m1 opened #1250 "Groovy : pb lorsque 2 requêtes SQL dans une commande"
I tried the following command in Groovy, city being a String :
`sql.execute("drop table if exists TMP_DATA; create table TMP_DATA as select * from DATA_APPRENTISSAGE_CITIES where CITY = ${city}")`

but it does not work. I got the error "Invalid value "1" for parameter "parameterIndex" [90008-195]". To make it work, it is necessary to split the command :

`sql.execute("drop table if exists TMP_DATA

[2017-10-13 14:48] j3r3m1 opened #1251 ""Table not found" when "drop table if exist""
The following error is displayed in the log when a "table if exists TOTO" query is run through
a groovy command whereas nothing happened using directly the SQL console :
`Table "TOTO" not found`

[2017-10-13 14:55] j3r3m1 opened #1252 "Groovy script do not stop when trying abort"
I ran a groovy script that took too much time. I tried to stop the running clicking on the cross located on the bottom right of orbisgis but it did not stop.

[2017-10-23 20:42] #1106 closed

[2017-10-23 20:46] ebocher commented on #1252
Duplicated with https://github.com/orbisgis/orbisgis-official-plugins/issues/52

[2017-10-23 20:46] #1252 closed

[2017-10-23 20:56] ebocher commented on #831
Solved with the toolbox import scripts

[2017-10-23 20:56] #831 closed

[2017-10-23 20:57] #889 closed

[2017-10-23 20:59] #1212 closed

[2017-10-24 08:09] ebocher commented on #989
A Ubuntu DEB repository is now available. A link must be added on the OrbisGIS web site @gpetit

[2017-10-24 10:00] SPalominos commented on #1016
Working on windows 10 so the problem seems to be fixed.

[2017-10-24 10:00] #1016 closed

[2017-10-25 11:59] gpetit commented on #988
We made a test, with this instruction (executed in the OG SQL Consol) : SET CACHE_SIZE 0
... and it works. The zoom to FRANCE_L2E layer works well.

[2017-10-25 13:22] SPalominos commented on #1245
Seems to be linked to #996.

[2017-10-25 13:22] SPalominos commented on #996
Seems to be linked to #1245.

[2017-10-25 16:49] ebocher commented on #988
So a bug must be reported to H2 team.

[2017-10-25 20:01] ebocher commented on #1250
This kind of syntax works well
[code]
but  this one doesn't work

[code]
even if there is an example here explained here http://docs.groovy-lang.org/latest/html/documentation/sql-userguide.html,

[2017-11-03 15:49] nahtanojoal opened #1256 "Impossible to launch Orbisgis v5.1.0 with Java JRE-9.0.1 or JRE-8u151 and Win7 64bits OS"
The following message error is displayed when I try to launch the orbisgis.jar file : "orbisgis nécessite au minimum java 1.7+" ("orbisgis requires at least java 1.7+").

My laptop conf. :
Windows 7 Home Premium Edition 64 bits SP1
JAVA JRE-9.0.1, then JAVA JRE-8u151

I fixed it by using JAVA v7 (JRE-7u80).

[2017-11-03 19:05] gpetit commented on #1256
Thanks for this report ... and welcome in the team @nahtanojoal ;-)

[2017-11-07 15:07] ebocher commented on #1250
@j3r3m1  is it still available ?

[2017-11-07 15:08] ebocher commented on #1249
@gpetit  fixed by @SPalominos
Could you please confirm ?

[2017-11-07 15:10] ebocher commented on #1247
Sure.
I propose to update the menu
Add by Link to (a file or a database)

@gpetit

[2017-11-07 16:09] ebocher commented on #1251
So you mean that the SQL console must show the message 'Table "TOTO" not found'

[2017-11-08 08:05] nicolas-f opened #1258 "Setup an issue template on this repo"
In order to get more detailed and helpful issues we should setup an issue template (default text when creating an issue)

The guide is here:

https://help.github.com/articles/setting-guidelines-for-repository-contributors/

[2017-11-08 08:06] SPalominos commented on #1220
It has been fixed, the H2GIS and OrbisGIS javadoc are up to date.

[2017-11-08 08:06] #1220 closed

[2017-11-08 08:12] SPalominos commented on #782
Issue resolved.

[2017-11-08 08:12] #782 closed

[2017-11-08 08:16] SPalominos commented on #989
It will also be great to add an help option to the orbisgis command and a man page.

[2017-11-08 14:38] SPalominos commented on #997
I'm on it.

[2017-11-10 08:31] j3r3m1 commented on #1251
No the contrary. In my opinion, nothing should happen using the query
`drop table if exists;`
 even if run in a groovy script.

[2017-11-10 13:02] ebocher commented on #1250
Could you test
"drop table if exists TMP_DATA; create table TMP_DATA as select * from DATA_APPRENTISSAGE_CITIES where CITY = ${city}".tostring

[2017-11-10 13:11] j3r3m1 commented on #1250
OK it works slightly modifying your command (${city} should be between '). The good command is the following
`sql.execute("drop table if exists TMP_DATA; create table TMP_DATA as select * from DATA_APPRENTISSAGE_CITIES where CITY = '${city}'".toString())`

[2017-11-10 13:14] ebocher commented on #1250
super

[2017-11-10 13:14] #1250 closed

[2017-11-10 13:30] ebocher commented on #1258
Ok feel free to suggest a template

[2017-11-13 13:02] SPalominos commented on #997
Just to check if I have understood well the sorting behaviour, these are the main steps :
 - The user select the column to be sorted.
 - If there is a PK :
   - A map linking the PK and the rowId is created
   - A RowSet is get from the SQL request `SELECT pk FROM table ORDER BY ascordesc` (the sorting is done server side)
   - The iteration on the RowSet is done with the linking map to get the ne

[2017-11-13 13:17] nicolas-f commented on #997
Yes it is written like that currently.

[2017-11-13 14:49] ebocher opened #1259 "Display name of @EnumerationInput with WPS client"
The script
[code]
doesn't show the names ["Intersects", "Contains"] but the values ["st_intersects", "st_contains"].

[2017-11-13 14:52] ebocher commented on #1259
My fault the bug is due to the client that is not able to refresh a script that has been modified.

[2017-11-13 14:53] ebocher commented on #1259
@SPalominos Could you please check the refresh button ? It seems it doesn't work.

[2017-11-13 14:58] ebocher commented on #997
What about  if we consider that a selection is not available when the table does not contain a pk ?

[2017-11-14 11:26] ebocher commented on #997
So what is the best option ?

[2017-11-14 16:48] ebocher opened #1260 "Bad script blocks the WPS client"
Problem :

Cannot load the toolbox client with OrbisGIS

Message :

Unable to parse the process file:/home/ebocher/Autres/wps_scripts/spatialFiltering.groovy.
Got java.lang.IndexOutOfBoundsException: Index: 0, Size: 0 when invoking "public void org.orbisgis.toolboxeditor.WpsClientImpl.activate()" in: class org.orbisgis.toolboxeditor.WpsClientImpl

Script :

[code]

[2017-11-15 08:09] SPalominos commented on #997
A proposition :

- If there is n primary key : alert the user that some information will be lost, like the current selection, and do the sort directly server-side with adding `ORDER BY column ASC/DESC` and reopen the RowSet used to get the data to displayed in the JTable.
- If there is a primary key : when the table is displayed without any sort, a sort will be done on the primary key field which

[2017-11-15 09:45] ebocher commented on #997
Sounds good for me
@nicolas-f

[2017-11-15 13:19] nicolas-f commented on #997
Currently the underlying RowModel is always sorted by the primary key and take track of primary key blocks in order to skip region of table fast enough. This thing work only if the column value is unique. So it will not work at all if other non-unique columns is used.

Primary key are unique but almost never contiguous so you cannot use it as a row id.

[2017-11-19 17:20] ebocher opened #1261 "NetworkFunctions not avaible with the last snaphot"
The graph functions available in H2gis-Network via NetworkFunctions class are not available from OrbisGIS.
Moreover, the plugin manager shows a wrong bundle for the h2network that refers to an old version.

[2017-11-19 17:31] ebocher opened #1262 "Bundles must be updated from the plugin manager"
The OrbisGIS bundles (plugins) must be udpated from the plugin manager.

[2017-11-19 17:31] ebocher commented on #1262
@gpetit

[2017-11-22 14:41] gpetit commented on #1258
Done @nicolas-f

[2017-11-22 14:48] gpetit commented on #1249
Great. Thanks @SPalominos

[2017-11-22 14:48] #1249 closed

[2017-11-22 15:23] gpetit commented on #988
@SPalominos I'm not able to explain very clearly this issue to H2 Team. Could you contact them ?

[2017-11-22 15:24] nicolas-f commented on #1258
Sorry, I give the wrong link for issue template:

https://help.github.com/articles/creating-an-issue-template-for-your-repository/

[2017-11-22 15:35] gpetit commented on #950
Not clear for me.
In case you have two geometric fields, what do you want to do ? You want that OrbisGIS gives you the opportunity to choose which one will be displayed (because you are talking about SE) or edited ?

[2017-11-22 15:43] gpetit commented on #807
Not sure to understand the value of this feature.
@nicolas-f can you explain why the block selection may be more useful comparing to line selection (in the SQL Console context)? Or else close this issue

[2017-11-22 15:52] gpetit commented on #1258
Should be ok right now @nicolas-f ;-)

[2017-11-22 15:53] nicolas-f commented on #807
Its an additional feature, not replacing the default selection mode. The priority is trivial as a nice feature but not more.

[2017-11-22 15:53] #1258 closed

[2017-11-22 16:04] gpetit commented on #1251
So we should have the same behaviour between Groovy and SQL Consoles.
If the table TOTO does not exists, the Groovy console should not return any error message.

Currently, if you don't have a table called TOTO and if you run "drop table if exists TOTO;" in the SQL Console, you obtain this in the output console

[code]

[2017-11-22 16:10] gpetit commented on #1232
Not right now. The color scheme are mainly coming from ColorBrewer (I don't if it's [v1](http://www.personal.psu.edu/cab38/ColorBrewer/ColorBrewer.html) or [v2](http://colorbrewer2.org/)) and are therefore predetermined.
@ebocher

[2017-11-22 16:33] gpetit commented on #1262
You mean we should update the list of available plugins to keep only those that are compliant with the OrbisGIS version (e.g the 5.1) ?

[2017-11-22 16:36] gpetit commented on #1247
Or maybe just
* Link to
   * a file
   * a folder
   * a database
* Import
   * a file
   * a folder

[2017-11-23 08:30] gpetit commented on #1111
Concerning Transifex. The IRSTV organisation has been renamed by OrbisGIS. So we now have the same structure as on GitHub.
The translation of the OrbisGIS software is available at the following adress https://www.transifex.com/orbisgis/orbisgis/
and the team is here : https://www.transifex.com/orbisgis/teams/

Since on the official website and on the wiki the url are http://www.transifex.com/proje

[2017-11-23 08:37] nicolas-f commented on #1111
It seems that the transifex configuration has not been updated with new plugins:

https://github.com/orbisgis/orbisgis/blob/master/.tx/config

The guide is here

https://github.com/orbisgis/orbisgis/wiki/6.-Transifex-translation

[2017-11-23 08:41] SPalominos commented on #1111
Thanks @nicolas-f, ill open a separated issue for that.

[2017-11-23 08:48] SPalominos opened #1266 "Tx config update"
From @nicolas-f in issue #1111 :

It seems that the transifex configuration has not been updated with new plugins:

https://github.com/orbisgis/orbisgis/blob/master/.tx/config

The guide is here

https://github.com/orbisgis/orbisgis/wiki/6.-Transifex-translation

[2017-11-23 08:49] pierromond commented on #1232
Maybe something could (blind for the user) "reverse" the data and not the color scheme.

[2017-11-23 09:05] gpetit commented on #1232
I don't think this should be complicated to reverse the color scheme, but need to put it in the loooonnnggg todo list ;-)

[2017-11-23 10:06] SPalominos commented on #1260
I'm on it.

[2017-11-23 10:31] SPalominos commented on #1260
There is two problems here :
- In your script, there is a `"` missing :
query += "(a."+ geometricFieldToSelected[0]+ ",b."+ geometricFieldFromSelected[0]+ ")`"`
-In the WPS client, it shouldn't crash is a script can not be loaded. (Fixed with the content of the PR #1267)

[2017-11-23 10:41] SPalominos commented on #966
For me it works, I can select rows in the TableEditor with a database on read only mode.

[2017-11-23 11:04] SPalominos commented on #1256
I'm on it.

[2017-11-23 11:36] ebocher commented on #1260
Gracias

[2017-11-23 11:36] #1260 closed

[2017-11-23 11:37] #1256 closed

[2017-11-23 11:37] ebocher commented on #997
clap clap to @SPalominos

[2017-11-23 11:37] #997 closed

[2017-11-23 13:15] SPalominos commented on #1259
If you do not want to translate, you can use that : `names=["Intersects, Contains"]`

[2017-11-23 13:19] SPalominos commented on #1260
:heavy_exclamation_mark: You have an other error in your script :
        `values=["st_intersects", "st_contains", "st_disjoint, st_crosses"],`
`st_disjoint` and `st_crosses` should be in separated string : `"st_disjoint", "st_crosses"`

[2017-11-23 13:48] #966 closed

[2017-11-23 14:37] ebocher commented on #1259
ok thanks

[2017-11-23 14:37] #1259 closed

[2017-11-23 15:00] SPalominos commented on #1245
I'm on it.

[2017-11-23 16:44] pierromond commented on #1232
ahahah :) ok ! by the way, it is not a so important feature.

[2017-11-29 10:25] SPalominos commented on #1130
I'm on it.

[2017-12-04 10:57] SPalominos commented on #1266
Fixed.

[2017-12-04 10:57] #1266 closed

[2017-12-04 12:31] SPalominos commented on #1131
@gpetit, @ebocher Does the latency problem still exists ? Is there an other problem  with the info tool ?

[2017-12-04 12:46] SPalominos commented on #1251
@j3r3m1 On my side, with the last  OrbisGIS version (04/12), if I run `sql.execute("DROP TABLE TOTO IF EXISTS")` in the groovy console, nothing happen expect a log message `Groovy script executed in 0,033 seconds`. Is that the desired behaviour ?

[2017-12-04 12:49] SPalominos commented on #1247
I'm on it.

[2017-12-04 15:18] ebocher commented on #1261
Even if the bundle is installed from the plugin manager, the query
[code]
is not able to load the graph function.

[2017-12-04 17:04] j3r3m1 commented on #1251
Yes it is the desired behaviour. I tested the last version it works well.

[2017-12-04 18:52] #1251 closed

[2017-12-05 06:22] ebocher commented on #1247
thanks

[2017-12-05 06:22] #1247 closed

[2017-12-05 06:40] ebocher commented on #1131
Since the last fix, it's not possible to cancel a filter on the table after the infotool action.
When the infotool is used the message "Get rowset without opening it" appears in the output console.

[2017-12-05 08:49] SPalominos commented on #1261
I'm on it.

[2017-12-05 09:18] ebocher commented on #1130
works well

[2017-12-05 09:18] #1130 closed

[2017-12-05 09:18] ebocher commented on #1131
Fixed thanks a lot

[2017-12-05 09:18] #1131 closed

[2017-12-05 09:18] ebocher commented on #981
Fixed excellent

[2017-12-05 09:18] #981 closed

[2017-12-05 14:05] SPalominos commented on #1261
So, everything is OK. To load H2GIS-Network, you have to :
 - Install the plugin throw the plugin manager.
 - Restart OrbisGIS in the normal mode (not in the safemode or without the -clean option"
 - call `CREATE ALIAS IF NOT EXISTS H2GIS_NETWORK FOR "org.h2gis.network.functions.NetworkFunctions.load";
CALL H2GIS_NETWORK();` to load the network functions.

[2017-12-06 07:24] SPalominos opened #1273 "Plugin documentation"
In the plugin manager, the lateral panel showing the plugin information should also contains some documentation in order to explain how the plugin works.

[2017-12-06 07:26] SPalominos commented on #1273
It is linked to the issue #1261.

[2017-12-06 07:26] SPalominos commented on #1261
Has it works, the issue it postponed to 5.2.

[2017-12-06 11:10] SPalominos commented on #1245
The PullRequest #1274 adds a workaround which will be removed once H2 has been patched. On the PR merged, this issue will be moved to the OrbisGIS 5.2 milestone.

[2017-12-06 11:26] SPalominos commented on #850
I'm on it.

[2017-12-06 13:25] ebocher commented on #1190
Maybe just add a test on the Open attributes plugin

[2017-12-08 07:43] ebocher commented on #850
Works well but the PR introduces minor bugs.

Execute in the SQL console
alter table USR add column test varchar;

->If the table editor is opened the new column doesn't appear
-> Click on the refresh button, the progress monitor (UI) is locked with the message "Update table state"  and it's not possible to kill it.

[2017-12-08 10:14] SPalominos commented on #850
The PR should fix the problem.

[2017-12-08 10:20] ebocher commented on #850
YES. A new small issue
Open the table editor
Execute "alter table mytable add column test id" in the SQL console
The table is refreshed
Clic on the new column in the header of the table editor, you will have the message

java.sql.SQLException: java.lang.IndexOutOfBoundsException: Column index 6 out of bound[1-5]

[2017-12-11 14:35] SPalominos commented on #988
The problem comes from H2GIS `ST_Transform` method. When a clone is done, the envelope isn't reset. Issue transferred to orbisgis/h2gis#869

[2017-12-11 19:40] ebocher commented on #988
Very good catch

[2017-12-11 19:40] #988 closed

[2017-12-12 14:42] SPalominos commented on #1129
I'm on it

[2017-12-13 10:39] ebocher commented on #1190
Thanks

[2017-12-13 10:39] #1190 closed

[2017-12-13 10:40] ebocher commented on #989
@gpetit
Could you please add an image or some more sexy info about the ppa on the OrbisGIS website

[2017-12-13 10:55] ebocher commented on #1232
I propose to replace the button  by a checkbox with the the text  "revert"

[2017-12-13 15:22] #1243 closed

[2017-12-14 08:53] ebocher commented on #1129
Excellent

[2017-12-14 08:53] #1129 closed

[2017-12-14 10:28] ebocher commented on #850
+1

[2017-12-14 10:28] #850 closed

[2017-12-14 11:02] #1245 closed

[2017-12-14 13:16] ebocher commented on #1232
Perfect

[2017-12-14 13:18] #1232 closed

[2017-12-18 13:00] SPalominos commented on #1262
I'm on it.

[2017-12-19 13:59] SPalominos opened #1287 "Geometry in log"
When you have an error on a SQL query which is done on a geometry, the whole request and the whole geometry are displayed inside the log. With a complex geometry, the log can be full very quickly and it's hard or impossible to see the whole request.

It would be great a handle this kind of error to make it more simpler to read. Some idea :
 - do not displaythe whole geometry
 - make the geometry t

[2017-12-19 14:00] SPalominos opened #1288 "Auto clean the log"
When OrbisGIS generate big error messages (Like SQL error on request with very by geometries), the log file size increase quickly. It should have a maximum size to avoid to fill up the user disk.

[2017-12-22 10:30] j3r3m1 opened #1290 "Impossible to stop a groovy or SQL script"
#### 1- Specifications

* OrbisGIS version: 5.1.0
* Java version: 1.8.0_151
* Operating System: Xubuntu 16.04

#### 2- Expected behavior and actual behavior
I would like to stop my SQL or Groovy script during the process. I click on the red cross on the bottom right of the orbisGIS window.

The script should stop but actually it keeps on running up to the end.

#### 3- Steps to reproduce the probl

[2018-01-31 19:32] SPalominos opened #1293 "Update notification"
It would be nice to notify to the user if its version of OrbisGIS is outdated and that he should update it.

[2018-02-01 12:49] ebocher opened #1294 "Remove WPS plugin entry"
#### 1- Specifications

* OrbisGIS version: 5.1
* Java version: 8
* Operating System: Ubuntu

#### 2- Expected behavior and actual behavior

Remove the WPS plugin entry availabble in the plugin manager

#### 3- Steps to reproduce the problem

Open the plugin manager

[2018-02-01 13:16] pierromond opened #1295 "Empty Toolbox"
#### 1- Specifications

* OrbisGIS version: 5.1 (snapshot 01/02/2018)
* Java version:1.8
* Operating System: Windows

#### 2- Expected behavior and actual behavior
Expected behavior: See some WPS scripts
Actual behavior: the Toolbox is empty

Any idea ?
(Attached the log file)
[orbisgis.log](https://github.com/orbisgis/orbisgis/files/1685635/orbisgis.log)

[2018-02-02 11:06] SPalominos commented on #1295
Fixed.

[2018-02-02 11:06] #1295 closed, assigned to nobody

[2018-02-02 14:16] SPalominos commented on #1290
For groovy it has been fixed, but for SQL things are quite different.
As Groovy is executing a whole script, the only way to stop it is to run it in a separated thread and to stop it.
For SQL script, the request are executed one by one and it it is closed, OrbisGIS wait the finishing of the running request and then avoid executing the other request. By doing that, it avoid problems with the databa

[2018-02-02 14:24] SPalominos commented on #1188
Issue posted on h2database github : h2database/h2database#833

[2018-02-05 15:31] #1294 closed, assigned to SPalominos

[2018-02-08 06:06] #1290 closed, assigned to SPalominos

[2018-02-09 08:33] SPalominos commented on #1188
The issue is fixed on H2 side which do not catch the exception so it is OrbisGIS or H2GIS which is doing the catch.
With the fix, the H2 next release won't throw the exception anymore.

[2018-02-12 10:54] ebocher opened #1300 "Import file in a PostGIS db"
#### 1- Specifications

* OrbisGIS version: 5.1-dev
* Java version: 8
* Operating System: Linux

#### 2- Expected behavior and actual behavior

When OrbisGIS is connected on a PostGIS database, the import menu does nothing.

#### 3- Steps to reproduce the problem

Connect OrbisGIS with PostGIS, go to the Geocatalog module, right clic to select the Import file menu.

[2018-02-12 15:23] pierromond opened #1301 "Impossible to do right click on Toolbox (windows)"
#### 1- Specifications

* OrbisGIS version: 5.1
* Java version: 1.8
* Operating System: Windows

#### 2- Expected behavior and actual behavior

It should be possible to import WPS scripts using a right click on the toolbox. When I do the right click, nothing happens !

#### 3- Steps to reproduce the problem

Good question !

[2018-02-13 08:05] arnaudcan opened #1304 "Facilitate fencing"
#### 1- Specifications

* OrbisGIS version: 5.1
* Java version: ??
* Operating System: Windows

#### 2- Expected behavior and actual behavior
I want to create a fence on a large area on the MapEditor, but I loose the fence when I navigate on the area. Initially, I wished to create a multi-points lasso selection (list of hand-placed acoustical receivers) on this large area...

#### 3- Steps to repr

[2018-02-13 09:34] gpetit commented on #1304
Hi @arnaudcan . You mean, you loosed the fence because you moved into the map (you changed the scale level and the bbox) ?

[2018-02-13 09:45] nicolas-f commented on #1304
De/Zooming while creating a fence cancel the fence creation.

[2018-02-15 15:03] nicolas-f commented on #1256
Users that use Java 9 will not understand:
`OrbisGIS needs at least a java 1.7+`

If version is < that 1.7 or >= 1.9 then display something like that:
`Your version of Java is X.XX , Orbisgis is working only with Java version 1.7 and 1.8 . Please install and activate a compatible version of Java.`

[2018-02-16 14:24] ebocher commented on #1301
@pierromond could you test  ?

[2018-02-16 14:38] pierromond commented on #1301
Arf ! still doesn't work !

Wait ... trying in safe mode ....

It works !!!! Thank you 👍 👍 👍 🥇

[2018-02-16 14:40] ebocher commented on #1301
Are you using the last OrbisGIS version?
Did you run orbisgis -clean
Sorry for that ;-)

[2018-02-16 14:44] #1301 closed, assigned to SPalominos

[2018-02-16 15:57] j3r3m1 opened #1306 "Map editor "geometry selection tool""
#### 1- Specifications

* OrbisGIS version: 5.1
* Java version: 1.8
* Operating System: Ubuntu 17.10

#### 2- Expected behavior and actual behavior
When using the "geometry selection tool", I would like to select geometry that intersect my selection rectangle. If I start my selection rectangle from its top left corner, the selection only contains geometries entirely included in my selection rectan

[2018-02-16 16:11] nicolas-f opened #1307 "Filtering compatible bundles"
Currently the list of downloadable plugins display all compatible and incompatible plugins.

However there is a method to display only the compatible plugins.

The Resolver service (org.osgi.service.obr.Resolver) is able to check if a bundle can be successfully installed before it is downloaded (thanks to the downloaded obr.xml)

This class is already used by OrbisGIS when the user click on Downlo

[2018-02-22 11:14] SPalominos opened #1308 "Table with '.' in its name"
#### 1- Specifications

On all OrbisGIS / JAVA version, in the toolbox

#### 2- Expected behavior and actual behavior

A table with a '.' character in its name cause an error as the point is parse as schema/table separator

#### 3- Steps to reproduce the problem

Try to manipulate a table with a '.' in its name on the toolbox.

[2018-02-22 15:59] j3r3m1 opened #1310 "OrbisGIS stops refreshing the geocatalogue"
#### 1- Specifications

* OrbisGIS version: 5.1
* Java version: 8
* Operating System: UBUNTU 17.10

#### 2- Expected behavior and actual behavior
The warning message "Update table state (100%)" appear on the lower right of OrbisGIS and I can not remove it. I can run SQL scripts, it does work (messages appear on the "Sortie" box that processed were run) but nothing happen on the GeoCatalogue. I try

[2018-02-23 09:31] nicolas-f commented on #1310
Ouch
![image](https://user-images.githubusercontent.com/1382241/36587183-a8093880-1884-11e8-87c8-ed8c72c8c3d1.png)

[2018-02-23 13:14] ebocher commented on #1308
Maybe related to OrbisWPS

[2018-02-23 15:04] nicolas-f opened #1311 "UI hangs when OrbisGIS is starting"
#### 1- Specifications

* OrbisGIS version:  orbisgis-5.1.0-SNAPSHOT-2018-02-13
* Java version: 1.8
* Operating System: Windows 7 (Yep sorry, not related I swear)

#### 2- Expected behavior and actual behavior

OrbisGIS startup and ready. But got OrbisGIS hangs on restoring layout.

No error but I have a precious jstack.exe output (I've removed useless threads):

[code]

#### 3- Steps to reproduce

[2018-02-23 15:19] SPalominos commented on #1308
It's mainly related to the toolbox which should "escape" the character when it creates the TableLocation.

[2018-02-26 14:38] ebocher commented on #1308
Seems for me a pb in the file name.
Not in the TableLocation code.
Is this kind of table name supported by SQL "TATA.TOTO" where TATA.TOTO is the shape file name ?

[2018-02-28 10:23] pierromond opened #1313 "TimeStamp in log file"
#### 1- Specifications
* OrbisGIS version: 5.1
* Java version: 1.8
* Operating System: Windows

#### 2- Expected behavior and actual behavior
Could it be possible to get a timestamp in the log file ?

[2018-02-28 11:26] gpetit commented on #1262
Difficult to check since there is no OrbisGIS version info attached to each plugins (and which we can use to see if there is plugins that should not been listed in the plugin manager). Anyway, the job seems to be done (thanks @SPalominos )
@ebocher IMO you can close this issue

[2018-02-28 12:30] nicolas-f commented on #1313
Yes.

Edit the file \user\.OrbisGIS\5.1\logback.xml

Update the pattern line to this:
[code]

More documentation on this site:
https://logback.qos.ch/manual/configuration.html

[2018-03-01 10:09] gpetit commented on #989
I think we can close this issue. Thx @SPalominos for the PPA

[2018-03-01 10:22] gpetit commented on #1306
Hum ... why not.
Just to clarify, it's not necessary from "**top** left corner" or "**bottom** right corner". It just:
* from right to left --> intersects
* from left to right --> contains

[2018-03-01 10:25] gpetit commented on #1307
This issue is more or less linked to #1262 no ?

[2018-03-01 10:28] j3r3m1 commented on #1306
OK then simply display this information to the user when he select the "selection tool" could make easier its use ?

[2018-03-01 10:37] gpetit commented on #1306
Yes +1

[2018-03-01 10:42] gpetit commented on #1300
Can not reproduce. Works well for me. I just connected to a PostGIS db (remote, not local) and imported a shp file. The new table is well created in the "public" schema and I can display geometries into the map.

[2018-03-01 10:43] ebocher commented on #1306
Yes. We must used the same method as in measure angle tool.

[2018-03-01 10:43] ebocher commented on #1300
Try to connect on risingdb

[2018-03-01 10:44] gpetit commented on #1306
Euh ... I don't know if it's the good example ;-) This tool is totally weird for me

[2018-03-01 10:45] gpetit commented on #1300
Yes, I'm on it (I imported the "limite_commune" table in the public schema)

[2018-03-01 10:54] ebocher commented on #1300
Without any pb ?
If yes you can close it

[2018-03-01 10:54] gpetit commented on #1300
No pblm.

[2018-03-01 10:54] #1300 closed, assigned to SPalominos

[2018-03-01 10:56] ebocher commented on #1313
@gpetit
What about a specific entry on the wiki ?

[2018-03-01 10:57] gpetit commented on #1287
+1 for the error table

[2018-03-01 13:54] gpetit commented on #1313
Ok, I'm on it

[2018-03-01 14:27] gpetit commented on #1313
Here is the result : https://github.com/orbisgis/orbisgis/wiki/09.-Custom-logging-messages
Feel free to edit/correct or giving me advices to improve this page if needed.

[2018-03-04 18:05] ebocher opened #1314 "Update all groovy dependencies to 2.4.14"
See https://lists.apache.org/thread.html/f5a438e6369970a7be4e98bc32490ae00e05adb3c111f9e22b116f68@%3Cusers.groovy.apache.org%3E

when groovy-eclipse will be released (see https://github.com/groovy/groovy-eclipse/commit/5cbfce6ab1a768762c5ed56c7c2dd130d1b86445)

[2018-03-04 18:07] ebocher commented on #1311
Patchs are welcome

[2018-03-05 08:52] nicolas-f commented on #1311
maven can't find the following dependencies, don't know where is the project

[code]

[2018-03-12 19:19] ebocher commented on #1311
Thank you @nicolas-f

[2018-03-12 19:19] #1311 closed, assigned to nobody

[2018-03-15 15:58] gpetit opened #1316 "Bug when copy geom into Console"
#### 1- Specifications

* OrbisGIS version: 5.1
* Java version: 8
* Operating System: Ubuntu 16.04

#### 2- Expected behavior and actual behavior

* I have a geometry in a table This geometry has z coordinates.
* Then I just copy he geom (click on a cell, and CTRL+C).
* And paste (CTRL+V) this geometry into the SQL Console. --> the geom has no more z coordinates

Ex: `LINESTRING (1 2, 2 2 2, 4 2 2

[2018-04-04 14:08] gpetit commented on #1313
@pierromond if it's ok for you maybe we can close this issue ?

[2018-04-04 14:10] gpetit commented on #1310
@nicolas-f or @SPalominos any idea ?

[2018-04-04 14:37] gpetit commented on #1293
+1
How do you see this notification ? Before the "Manage workspace" panel ? Or inside OG ?

[2018-04-11 09:21] #1313 closed, assigned to nobody

[2018-04-17 07:57] pierromond commented on #1313
It is perfect ;)

[2018-05-02 12:28] nicolas-f opened #1318 "Thread lock while opening SQLConsole"
#### 1- Specifications

* OrbisGIS version: orbisgis-5.1.0-SNAPSHOT-2018-03-28
* Java version: 1.8
* Operating System: OpenSUSE

Issue is not systematic

#### 2- Expected behavior and actual behavior

Open SQL Console

Orbisgis Freeze

#### 3- Steps to reproduce the problem
 opening SQLConsole using Postgresql

StackTrace:

[code]

[2018-05-16 07:22] nicolas-f commented on #1310
I can't reproduce this issue anymore. May be it has been fixed by @SPalominos ?

[2018-05-16 07:26] ebocher commented on #1310
So we close it.
Thanks a lot

[2018-05-16 07:26] #1310 closed, assigned to nicolas-f

[2018-05-17 07:15] SPalominos commented on #1310
@nicolas-f Not specific fix has been done for this issue, we should keep an eye on it and reopen the issue if it happens again

[2018-05-17 09:18] ebocher commented on #1318
I'm not able to reproduce this issue

[2018-05-17 09:19] ebocher commented on #1304
It would be nice to keep the fence visible when De/Zooming

[2018-05-17 09:24] nicolas-f commented on #1318
This is a thread race issue. Then it is not every time. I however post the stack trace. So it can be fixed.

[2018-05-17 09:25] nicolas-f commented on #1318
readSQLFunctions must be called only when the user click to display the list of functions, and in a background thread

[2018-05-17 09:37] ebocher commented on #1318
If you have some time. A patch is welcome. ;-)

[2018-05-17 13:22] Sebastien-G opened #1322 "Unable to launch OrbisGIS with NoiseModelling"
#### 1- Specifications

* OrbisGIS version: 5.1 (snapshot from 2018-05-17)
* Java version: Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
* Operating System: Windows 10

#### 2- Expected behavior and actual behavior

* I'm trying to launch OrbisGIS with NoiseModelling.
* I first launched OG in safemode (with the bat file).
* Then I created a new empty workspace.
* Then, in the plugin manage

[2018-05-17 13:26] nicolas-f commented on #1322
Hi,

The snapshot version of OrbisGIS is using a custom version of H2, and so, it is not compatible anymore with NoiseModelling.

Please use the prepackaged version of NoiseModelling here:

https://github.com/Ifsttar/NoiseModelling/releases/tag/2.1.1-SNAPSHOT

[2018-05-17 13:50] Sebastien-G commented on #1322
Hi,

Thanks for this quick response, it works.

[2018-05-18 08:35] nicolas-f commented on #1306
What is exactly the one line message to display to the user ?

[2018-05-18 09:03] nicolas-f commented on #1318
Fixed

[2018-05-18 09:03] #1318 closed, assigned to nobody

[2018-05-18 09:38] ebocher commented on #1318
Merci

[2018-05-18 12:07] ebocher commented on #1316
Fixed thanks to @nicolas-f

[2018-05-18 12:07] #1316 closed, assigned to ebocher, SPalominos

[2018-05-24 20:22] ebocher opened #1326 "An annoying message"
#### 1- Specifications

* OrbisGIS version: 5.1-dev
* Java version: 8
* Operating System: NUX

#### 2- Expected behavior and actual behavior

Do not display each time the message "This prj file is null. \n A default srid equals to 0 will be added." when a linked shapefile doesn't have a prj file.

See getSRID(File prjFile) in SHPEngine.

#### 3- Steps to reproduce the problem

Link a shapefile wit

[2018-05-24 20:26] ebocher commented on #1306
@gpetit ?

[2018-05-28 18:39] ebocher opened #1328 "Cannot start the WPS toolbox"
#### 1- Specifications

* OrbisGIS version:  5.1-dev
* Java version: 8
* Operating System: Linux

#### 2- Expected behavior and actual behavior

Load the WPS toolbox

#### 3- Steps to reproduce the problem

Create a fresh workspace and start OrbisGIS. It returns

Got java.lang.NullPointerException when invoking "public void org.orbisgis.orbiswps.service.WpsServerImpl.unsetWpsProperties(org.orbisgi

[2018-05-28 18:50] ebocher opened #1329 "Cannot load a WPS script"
#### 1- Specifications

* OrbisGIS version: 5.1-dev
* Java version: 8
* Operating System: Linux

#### 2- Expected behavior and actual behavior
Load a WPS script and display the tables metadata to execute the script (table name, geometry column..)

#### 3- Steps to reproduce the problem

Load the file
[batiments.zip](https://github.com/orbisgis/orbisgis/files/2045936/batiments.zip)

Load the WPS sc

[2018-05-28 18:52] ebocher commented on #1329
Note :
The following message is returned.
Exception in thread "AWT-EventQueue-0" java.lang.IllegalArgumentException: No enum constant org.orbisgis.orbiswps.service.model.DataType.DATE
	at java.lang.Enum.valueOf(Enum.java:238)
	at org.orbisgis.orbiswps.service.model.DataType.valueOf(DataType.java:57)
	at org.orbisgis.orbiswps.service.model.DataType.getDataType(DataType.java:315)
	at org.orbisgis.to

[2018-05-29 08:11] j3r3m1 commented on #1306
Based on gpetit answer, I propose:
selection from left to right : st_intersects
selection from right to left : st_contains

Or if the space sufficient:
selection from left to right : all objects intersecting the selection zone are considered
selection from right to left : all objects contained in the selection zone are considered

[2018-06-01 09:22] nicolas-f commented on #804
Done

[2018-06-01 10:04] #804 closed

[2018-08-20 13:55] #1322 closed, assigned to nobody

[2018-08-20 13:57] #1307 closed, assigned to SPalominos

[2018-08-20 14:00] #1262 closed

[2018-08-20 14:03] #989 closed

[2018-08-20 14:03] #1111 closed

[2018-08-20 14:06] #1328 closed, assigned to SPalominos

[2018-08-20 14:27] ebocher commented on #1304
@nicolas-f  any plan to take into account my comment ?

[2018-08-20 14:29] ebocher commented on #1306
I propose to create two buttons in the toolbar :  first one for intersects and the second one for contains

[2018-08-20 14:40] nicolas-f commented on #1304
I think I do not achieve that.

[2018-08-20 15:04] ebocher commented on #1304
Ok thanks

[2018-08-20 15:04] #1304 closed, assigned to nicolas-f

[2018-08-20 15:41] j3r3m1 commented on #1306
+1

[2018-08-22 13:42] ebocher commented on #1306
I m on it

[2018-08-22 15:11] ebocher opened #1332 "Cannot compile a fresh OrbisGIS"
Test with the master and 5.1-Dev.
Maven is not able to find the toolbox dependencies

BUILD FAILURE
------------------------------------------------------------------------
Total time: 1:28.128s
Finished at: Wed Aug 22 17:06:47 CEST 2018
Final Memory: 327M/1914M
------------------------------------------------------------------------
Failed to execute goal org.apache.maven.plugins:maven-compiler-p

[2018-08-23 13:31] #1326 closed, assigned to SPalominos

[2018-08-23 13:31] ebocher commented on #1306
Fixed

[2018-08-23 13:31] #1306 closed, assigned to SPalominos

[2018-08-23 13:32] #1332 closed, assigned to SPalominos

[2018-08-23 15:06] ebocher opened #1334 "Disable selection on map and tableEditor when the table doesn't contain any PK"
On mapEditor

- InfoTool
- SelectionTools

On tableEditor

- ZoomOnSelection

[2018-08-24 09:39] ebocher opened #1336 "Re-open the dialog password after a bad set"
#### 1- Specifications

* OrbisGIS version: 5.1-dev
* Java version: 8
* Operating System: Linux

#### 2- Expected behavior and actual behavior

Connect OrbiGIS with a database that needs a password authentication.
Set a bad password in the dialog box, the dialog UI is closed and go to the splash screen
It would be nice to keep the password dialog UI open.
If I'm not wrong this pb is related to OSG

[2018-08-24 09:42] ebocher commented on #1308
Do we need in the H2GIS file drivers to replace the . with another character like _?
@SPalominos @nicolas-f

[2018-08-24 09:45] ebocher commented on #1288
I propose to use a Rolling Based on File Size technique ?
See https://www.baeldung.com/java-logging-rolling-file-appenders

[2018-08-24 09:48] ebocher commented on #1287
I'm in favour of the first proposal.
Because
make the geometry text clickable which open the table editor with the good line selected needs some work ;-(
Write the error inside a SQL table may pollute the database

[2018-08-24 09:49] ebocher commented on #1217
Is it still valid ?

[2018-08-24 09:54] #996 closed

[2018-08-24 10:17] ebocher commented on #1314
2.5.2 -> http://groovy-lang.org/download.html

[2018-08-24 10:20] ebocher opened #1337 "Where are the plugins ???"
The last OrbisGIS 5.1-dev contains only one plugin :  the toolbox

[2018-08-24 10:21] #1337 closed, assigned to SPalominos

[2018-08-24 13:49] nicolas-f commented on #1217
It seems it has been removed

[2018-08-24 13:53] #1217 closed

[2018-08-31 08:12] gpetit opened #1339 "Reorganize the two selection tools"
#### 1- Specifications

* OrbisGIS version: 5.1-dev

#### 2- Expected behavior and actual behavior
I think it could be more clear if we could reorganize the two selection icons. By default, we should display only the "Select by intersection" icon. When keeping the click on this icon, we can choose the second one (select containing) (same behaviour as "Clear selection" or "Zoom to selection"

This

[2018-08-31 08:44] ebocher commented on #1339
Good idea

[2018-09-25 15:53] #1339 closed, assigned to nobody

[2018-09-25 15:53] #1334 closed, assigned to nobody

[2018-10-08 06:19] #1329 closed, assigned to SPalominos

[2018-10-19 07:29] bourgesl commented on #769
Nevermind

[2018-12-13 08:21] OnkelTem opened #1345 "Linux Ubuntu 18.04: Orbisgis needs at least a java 1.7+"
#### 1- Specifications

* OrbisGIS version: 5.1.0
* Java version: openjdk-11, openjdk-8
* Operating System: Linux Kubuntu 18.04

#### 2- Expected behavior and actual behavior
Running app

#### 3- Steps to reproduce the problem
Silly message saying that I don't fit requirement

[code]

[2018-12-13 08:23] OnkelTem commented on #1345
I tried also to install JDK 7, but it doesn't exist for Ubuntu 18.04

[2018-12-13 08:52] OnkelTem commented on #1345
I switched system-wide java alternatives to use `java-1.8.0-openjdk-amd64` instead and it has been finnaly launched w/o the message. So it actually requires Java 1.7 _OR_ Java 1.8 which is not what the message requires: **1.7+**.

How not to switch system whide java version to run just this application?

[2018-12-13 08:57] OnkelTem opened #1346 "Doesn't run on linux: The workspace folder version is invalid"
#### 1- Specifications

* OrbisGIS version: 5.1.0
* Java version: 1.8
* Operating System: Linux Kubuntu 18.04

#### 2- Expected behavior and actual behavior
GUI running

#### 3- Steps to reproduce the problem
Launch the launcher script

================

I run the script and get the dialog asking to chose the workspace folder:

![launch](https://i.gyazo.com/47249cf77aab0a66b311bbfde15e6573.png)

I

[2018-12-13 09:00] nicolas-f commented on #1345
Hi,

You can edit orbisgis.sh and replace java with /usr/lib/jvm/java-1.8.0-openjdk-amd64/bin/java

Yes, there is currently no support for java9 -> java11

[2018-12-13 09:29] OnkelTem commented on #1346
I installed H2Gis standalone, ran it, got connection credentials and changed connection details in the welcome dialog from EMBEDDED to SERVER, providing HOST/PORT.
So it seems it was a problem with EMBEDDED H2Gis.

BTW, how to provide JDBC connection line instead of HOST/PORT?

[2018-12-13 09:32] OnkelTem opened #1347 "DB tree: empty"
#### 1- Specifications

* OrbisGIS version: 5.1.0
* Java version: 1.8
* Operating System: Linux Kubuntu 18.04

#### 2- Expected behavior and actual behavior
See the list of tables

#### 3- Steps to reproduce the problem
DB Tree just empty

========
I'm not sure what I'm supposed to see since I've never used OrbisGIS before, but it doesn't look properly for me. First - I couldn't to get anything se

[2018-12-13 11:00] #1188 closed

[2018-12-13 11:09] SPalominos commented on #1345
The error message has been updated and ask for java 7 or 8.

[2018-12-13 13:01] SPalominos commented on #1347
Some fix have been done and might change the behavior of OrbisGIS, could you retry with the very last build ?

[2018-12-13 13:01] SPalominos commented on #1346
This problem seems to be linked to an OSGi wiring error. With the very last build of OrbisGIS it should be resolved and should start without error.

[2018-12-13 13:42] ebocher commented on #1308
I'm on it

[2018-12-13 13:47] OnkelTem commented on #1347
I would gladly do it, if only I knew where to get it :)
GitHub releases pages doesn't seem to be maintained.
I couldn't find this information on your homepage either.

[2018-12-13 13:49] ebocher commented on #1347
Go to http://orbisgis.org/ and DOWNLOAD section : Click on the image below to download the V5.1 Molene – Snapshot (based on H2GIS).
@gpetit

[2018-12-13 13:52] OnkelTem commented on #1347
Sorry but... isn't that what I use currently? I think it is: **orbisgis-5.1.0-SNAPSHOT-2018-12-13**

[2018-12-13 13:52] SPalominos commented on #1347
To complete @ebocher  answer :
If you have downloaded OrbisGIS through the PPA, you just have to do an `apt update` and `apt upgrade` and then lanch it with the clean option : `orbisgis -clean`
If you have downloaded the zip, redownload it on http://orbisgis.org, unzip it and launch `orbisgis_safemode.sh`

[2018-12-13 14:07] nicolas-f commented on #1308
H2GIS is properly preserving requested table name, by using quotes to separate schema and database name

[2018-12-13 15:15] OnkelTem commented on #1347
Ok guys, I downloaded it one more time from here:
http://jenkins.orbisgis.org/job/orbisgis-5.1-dev/lastSuccessfulBuild/artifact/orbisgis-dist/target/orbisgis-bin.zip

It was unpacked into the same folder `orbisgis-5.1.0-SNAPSHOT-2018-12-13` and I launched in one more time.

Both `orbisgis.sh` and `orbisgis_safe.sh` produce the same UI state without visible differences.
DB Tree is still empty.

The

[2018-12-14 07:47] SPalominos commented on #1347
Did you use the embedded database (the default one) or did you connect OrbisGIS to an already existing database (which one : H2 or postgis) ?

Can you give us the output of the terminal when you launch `orbisgis_safemode.sh` ?

[2018-12-14 15:53] OnkelTem commented on #1347
I used external H2. Now when I switched to embedded it's started working finally!

![OSM+Timezones](https://i.gyazo.com/f03cacd1ae04eaa0c6c54b0bc4315379.png)

Thank you for pointing this out.

Well, in contrast to launching `orbisgis.sh`,  `orbisgis_safemode.sh` produces no errors:

[code]

However when exiting I get one exception:
[code]

[2018-12-14 15:56] OnkelTem commented on #1346
Just for reference, it workes in the "safe mode" with Embedded database, more on this:
 https://github.com/orbisgis/orbisgis/issues/1347#issuecomment-447243118

[2018-12-14 15:58] OnkelTem commented on #1345
Oh, it's so simple then :) Thank you.

I confirm this. Thank you.

[2018-12-14 15:58] #1345 closed, assigned to nobody

[2018-12-14 16:06] OnkelTem commented on #1346
I confirm that the error has gone with the latest build (5.1, thought I'm lost in versioning... wasn't it the same 5.1 which I reported, eh? Now it's the same 5.1 and it works... magick?). I mean: it doesn't show the startup dialog twice and seem to work correctly. Note that I use **embedded database**, because external one seemed to produce emtpy DB Tree (see:
 https://github.com/orbisgis/orbisgi

[2018-12-14 16:06] #1346 closed, assigned to nobody

[2018-12-14 16:08] OnkelTem commented on #1347
So guys, if I get it right, there's only one issue left to address: why it doesn't work with external H2Gis, right?

[2018-12-15 08:35] OnkelTem opened #1349 "How to set CRS? (Projection cannot be changed)"
#### 1- Specifications

* OrbisGIS version: 5.1
* Java version: 1.8
* Operating System: Linux Kubuntu 18.04

#### 2- Expected behavior and actual behavior

I believe there should be some way to change/set projections of the layers/project and/or set CRS of a layer/project.

#### 3- Steps to reproduce the problem

1. I created a table with timezones (loaded from an shp file from here: https://githu

[2018-12-17 08:14] SPalominos commented on #1347
Exact, we are working on it and we will fix it as soon as possible !

[2019-01-23 15:03] bourgesl commented on #769
Hi,
After discussion with Erwan, it is time to try again using Marlin renderer in your startup script:
https://github.com/bourgesl/marlin-renderer/releases/tag/v0_9_3

Here is the shell script (extract) I use:
[code]

Here is the complete script (with all internal tuning options):
https://github.com/bourgesl/mapbench/blob/master/bin/env_marlin.sh

Laurent

[2019-01-23 16:27] ebocher commented on #769
orbisgis.sh has been modified as follows

[code]
Just a naive test with the OrbisGIS UI
JDK8
10 manual rendering actions on a full extend

Case 1 :  Data is a linked shapefile to an H2GIS database that contains 480 000 polylines.
With Marlin
min : 18 s
max : 19 s

Without
min : 20 s
max : 23 s

Case 1 :  The shapefile has been imported to an H2GIS database.
With Marlin
min : 14 s
max : 15 s

Witho

[2019-01-23 17:40] bourgesl commented on #769
Marlin Renderer seems not giving any improvements, do you have anti-aliasing enabled ?
[code]

You can enable Marlin log to be sure it is working:
 -Dsun.java2d.renderer.log=true

Are you using Oracle JDK8 or OpenJDK8 ?

I suppose H2GIS results are better as spatial indexing helps clipping, that was explaining Marlin gains on shape files ?
Anyway it looks like a complex scene (480k polylines) so p

[2019-01-23 19:58] ebocher commented on #769
yes we have RenderingHints.VALUE_ANTIALIAS_ON

OpenJDK8

I think so

Below some Marlin logs

[code]

[2019-01-23 21:57] bourgesl commented on #769
It confirms Marlin is in action: good.
That also mean some tuning is possible: tile size & subpixel sampling...

Could you share marlin stats after running only 1 or few map renderings ?
Stats are only dumped at exit...

[2019-01-24 18:22] ebocher commented on #769
Attached a dump for Marlin stats
[marlin_stats.txt](https://github.com/orbisgis/orbisgis/files/2792997/marlin_stats.txt)

[2019-01-24 20:01] bourgesl commented on #769
Thanks,
It shows many ctx so orbisGIS is using a thread pool, you can minimize allocated context count by using
-Dsun.java2d.renderer.useThreadLocal=true|false

See https://github.com/bourgesl/marlin-renderer/wiki/Tuning-options

It shows how to tune tile size and subpixels.
Anyway I will study your app with profilers (linux perf...) and find bottlenecks

[2019-03-21 07:47] SPalominos opened #1352 "@Grab support"
Support the @Grab annotation in the groovy console.
Linked to orbisgis/orbisdata#48

[2019-05-29 07:45] j3r3m1 opened #1353 "GeoJSON import"
#### 1- Specifications

* OrbisGIS version: 5.1.0 SNAPSHOT
* Java version: OpenJDK 1.8.0_171
* Operating System: UBUNTU

#### 2- Expected behavior and actual behavior
I am trying to import a GeoJSON file in OrbisGIS that contains block geometries, block ID and RSU ID (blocks are supposed to be located in a RSU) but OrbisGIS does not want to open it. The following message is displayed:

Data conver

[2019-07-02 17:21] mhp0rtal opened #1354 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => orbisgis-commons/src/main/java/org/orbisgis/commons/utils/FileUtils.java: Line number => 526: API name => MessageDigest:<BR> File name => orbisgis-commons/src/main/java/org/orbisgis/commons/utils/FileUtils.java: Line number => 524: API name => MessageDigest:First parameter (with value "MD5") should be any of {SHA-256, SHA-384

[2019-09-16 13:48] jensrsf opened #1355 "Installation error"
#### 1- Specifications

* OrbisGIS version: 5.1.0-SNAPSHOT
* Java version: openjdk version "12.0.2" 2019-07-16
* Operating System: macOS 10.14.6 (18G95)

#### 2- Expected behavior and actual behavior

I use the command
$ mvn clean install
inside the orbisgis-master library.

Instead of completely installing, the following is output:

...
Downloaded from central: https://repo.maven.apache.org/maven

[2019-09-16 13:53] nicolas-f commented on #1355
Hi,

The master branch is no longer maintained.

You have to use the dev branch but its quite broken in the current state as it is not linked with up to date version of h2gis.

[2019-09-16 14:03] jensrsf commented on #1355
Thanks. My aim is to use the NoiseModelling plugin. But when I download the ready package https://github.com/Ifsttar/NoiseModelling/releases/download/2.1.2-SNAPSHOT/orbisgis-noisemodelling-2018-07-18.zip
and try to run it, it seems like my updated java version is not opened properly.

[2019-09-16 14:07] nicolas-f commented on #1355
Yes you will not be able to compile it with Java 11 either. So the only way is to find a Java 8 for your system.

[2019-09-16 17:36] jensrsf commented on #1355
OK, thank you.

[2019-09-16 17:36] #1355 closed, assigned to nobody

[2020-02-21 16:43] j3r3m1 opened #1356 "DBeaver and .m2"
Sorry I did not kinow where to put this issue...

I have deleted the .m2 folder in order to update my geoclimate package. Then when I launch a script using
[code]
The .m2 file is not reloaded. Is it a correct behavior ? Note that the similar behavior is met using the groovyConsole.

[2020-02-21 16:44] ebocher commented on #1356
You can put the issue here https://github.com/orbisgis/orbisrcp

[2020-02-22 11:33] j3r3m1 commented on #1356
I do not have any option to move the issue on the right side-bar. Problem of rights ?

[2020-02-22 13:19] j3r3m1 commented on #1356
OK I realize that the problem may come from the fact that DBeaver or GroovyConsole have nothing to do with .m2 folder. Actually to make DBeaver download a new version of geoclimate, I suppose that it is necessary to delete the .groovy folder.

I have done that, however, I have the following error when using the grab resolver:

	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newIns

[2020-05-14 14:31] XinTian-student opened #1357 "Plugins Manager is empty after launch OrbisGIS"
#### 1- Specifications

* OrbisGIS version: 5.1.0 SNAPSHOTCN (2019-09-10)
* Java version: Oracle Version 8 Update 251
* Operating System: Windows 10

#### 2- Expected behavior and actual behavior

1. I want to use OSGi plugin, but I cannot add OSGi jar file into OrbisGIS.

2. My plugins manager is empty after I launch OrbisGIS. The plugins that should be installed by default are not displayed in t

[2020-05-14 15:32] XinTian-student commented on #1357
Every time I launch OrbisGIS I also got the following ERROR MESSAGES:

Error accessing http://plugins.orbisgis.org/.meta/obr.xml
当前工具无法启用

The third one is "The current tool cannot be enabled"

[2020-05-28 12:28] XinTian-student commented on #1357
Problems have been solved! It may because I download the wrong version.

[2020-05-28 14:00] nicolas-f commented on #1357
Hi,

Sorry for the delay.

I think the plugin system does not survive with the last server migration

@SPalominos obr plugin has been migrated ?

[2020-06-07 13:51] XinTian-student commented on #1357
Dear Sir/Madam, 

I am an MSc student working for my thesis now. My thesis is about describing and comparing the OGC SLD/SE standard with CartoCSS and Mapbox GL, then proposing the new extensions for the SLD/SE standard and implement the new extensions. Finally, giving the direction for future standardisation. In my thesis, I want to use OrbisGIS and OSGi bundles as the rendering engine to impleme

[2020-06-10 12:46] ebocher commented on #1357
I'm sorry about that but OrbisGIS UI  is no longer maintained.
We are working on a next generation of tools based on DBeaver.
If you want to test the SLD/SE feature type style function, please check https://github.com/orbisgis/orbismap
Thanks

[2020-06-10 14:06] XinTian-student commented on #1357
Thanks for your reply！This information is very useful for me!

Since my thesis is going to complete, it is hard to change the implement software and method at this stage. So, I would like to ask Can the old version of the OrbisGIS and OSGi bundles still be used to test the new extensions of the SLD/SE standard?

[2020-06-11 07:11] nicolas-f commented on #1357
Hi,

You said you didn't studied the Java language, so you didn't started to implement the software ?

Sorry but, although you can use OrbisGIS, we cannot offer you any help for this task as we have stopped its development.

[2020-06-11 07:43] XinTian-student commented on #1357
Hi,
I know how to launch the software, but I don't know how to use and add OSGi bundles in this software.
In my thesis, I didn't implement my extension, but I described the possible way to implement my extension. The way is that using OSGi bundles as the rendering engine. Because I read the article "A redesign of OGC symbology encoding standard for sharing cartography", So I hope the reference imp

[2020-11-05 15:06] #1357 closed, assigned to nobody

[2020-11-05 15:06] #1352 closed, assigned to nobody

[2020-11-05 15:06] #1353 closed, assigned to nobody

[2020-11-05 15:07] ebocher commented on #1349
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:07] #1349 closed, assigned to gpetit

[2020-11-05 15:07] ebocher commented on #1347
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:07] #1347 closed, assigned to gpetit

[2020-11-05 15:08] ebocher commented on #1336
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:08] #1336 closed, assigned to nicolas-f

[2020-11-05 15:08] ebocher commented on #1314
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:08] #1314 closed, assigned to nobody

[2020-11-05 15:08] ebocher commented on #1308
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:08] #1308 closed, assigned to SPalominos

[2020-11-05 15:09] ebocher commented on #1293
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:09] #1293 closed, assigned to SPalominos

[2020-11-05 15:09] ebocher commented on #1288
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:09] #1288 closed

[2020-11-05 15:09] ebocher commented on #1287
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:09] #1287 closed

[2020-11-05 15:09] ebocher commented on #1273
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:09] #1273 closed

[2020-11-05 15:11] ebocher commented on #1261
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:11] #1261 closed

[2020-11-05 15:11] ebocher commented on #1101
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:11] #1101 closed

[2020-11-05 15:11] ebocher commented on #999
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:11] #999 closed

[2020-11-05 15:30] ebocher commented on #953
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:30] #953 closed

[2020-11-05 15:30] ebocher commented on #950
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:30] #950 closed

[2020-11-05 15:30] ebocher commented on #940
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:30] #940 closed

[2020-11-05 15:30] ebocher commented on #923
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:30] #923 closed

[2020-11-05 15:30] ebocher commented on #919
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:30] #919 closed

[2020-11-05 15:31] ebocher commented on #917
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:31] #917 closed

[2020-11-05 15:31] ebocher commented on #912
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:31] #912 closed

[2020-11-05 15:31] ebocher commented on #911
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:31] #911 closed

[2020-11-05 15:31] ebocher commented on #883
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:31] #883 closed

[2020-11-05 15:31] ebocher commented on #872
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:31] #872 closed

[2020-11-05 15:33] ebocher commented on #871
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:33] #871 closed

[2020-11-05 15:33] ebocher commented on #807
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:33] #807 closed

[2020-11-05 15:33] ebocher commented on #794
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:33] #794 closed

[2020-11-05 15:34] ebocher commented on #769
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:34] #769 closed

[2020-11-05 15:34] ebocher commented on #704
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:34] #704 closed

[2020-11-05 15:34] ebocher commented on #654
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:34] #654 closed

[2020-11-05 15:34] ebocher commented on #567
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:34] #567 closed

[2020-11-05 15:34] ebocher commented on #511
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:34] #511 closed

[2020-11-05 15:35] ebocher commented on #510
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:35] #510 closed

[2020-11-05 15:35] ebocher commented on #138
Closed OrbisGIS UI dev stopped.

[2020-11-05 15:35] #138 closed

[2020-11-30 07:22] ebocher opened #1391 "Access to SimpleFeatureSource from datastore [dev version]"
Provide a method a get a SimpleFeatureSource from the JDBC datastore

From groovy meta-programming
[code]

Do we have to put these methods in a datastore util module?

[2020-11-30 07:33] ebocher opened #1392 "Iterate over SimpleFeatureSource [dev version]"
Add a closure method to iterate SimpleFeatureSource

def fs = ds.featureSource("PARCELS")

fs.features.each{ SimpleFeature feature ->
    println feature.the_geom //Short cut methods
}

Do we need to close automatically  the iterator ?

[code]

[2020-12-04 07:18] ebocher opened #1400 "Load the good datastore from string representation"
The idea is to write

"mydata.shp" as DataStore -> return the good geotools datastore

"mydata.shp" as FeatureSource -> return the  FeatureSource model

[2020-12-09 13:53] #1391 closed, assigned to SPalominos

[2020-12-11 09:59] ebocher commented on #1392
Fixed ?

[2020-12-14 06:52] SPalominos commented on #1392
Yes

[2020-12-14 06:52] #1392 closed, assigned to SPalominos

[2020-12-29 11:46] ebocher opened #1413 "JDBCDataStoreUtilsTest wrong test [dev]"
The unit test withBatchTest checks the table assert 3 == h2gis.ELEMENTS.features.size()
instead of h2gis.INSERTIONS

see https://github.com/orbisgis/orbisgis/blob/dev/datastore/jdbc-utils/src/test/groovy/org/orbisgis/datastore/jdbcutils/JDBCDataStoreUtilsTest.groovy#L750

[2021-12-01 13:26] #1400 closed, assigned to SPalominos